.copytrade-dialog {
  padding: 15px !important;
  span.text {
    white-space: nowrap;
  }
  .table {
    width: 100%;
  }
  .search {
    background-color: lightgrey;
    border-radius: 2px;
    padding: 8px;
    .row {
      background-color: white;
      .cell:first-child {
        input {
          border: none;
          outline: none;
          margin: 5px;
          width: 90%;
          &:focus {
            box-shadow: none;
          }
        }
      }
      .cell:nth-child(2) {
        background-color: lightgrey;
        padding-left: 10px;
        width: 20px;
        button {
          padding: 5px;
        }
      }
    }
  }
  .tokens {
    .table {
      .row {
        .section-toggle {
          width: 24px;
          white-space: nowrap;
          span {
            font-size: 25px;
            position: relative;
            top: 10px;
          }
        }
        .cell {
          padding: 3px;
          &:nth-child(2) {
            padding-right: 10px;
          }
          .pointer-cursor {
            cursor: pointer;
          }
          button {
            padding: 8px;
            vertical-align: middle;
            &.started {
              background-color: red;
            }
            &.remove {
              background-color: red;
            }
          }
          .details-section {
            margin-top: 10px;
            .tag {
              background-color: lightgrey;
              border-radius: 20px;
              text-align: center;
              display: inline-block;
              white-space: nowrap;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 15px;
              padding-right: 15px;
            }
            .table {
              margin-left: 10px;
              .row {
                .cell {
                  white-space: nowrap;
                  border-bottom: 1px solid lightgrey;
                  &:nth-child(2) {
                    text-align: right;
                  }
                  input {
                    max-width: 400px;
                  }
                  div.chosen-container {
                    width: 100% !important;
                    text-align: left;
                    max-width: 400px;
                  }
                }
                .button-cell {
                  text-align: right;
                }
                .ignore-bottom-border {
                  border-bottom: none;
                }
              }
            }
          }
          .sectionHeader {
            display: inline-flex;
            width: 100%;
            .token-header-text {
              width: 100%;
              position: relative;
              top: 4px;
            }
            .token-header-controls {
              width: 150px;
            }
          }
        }
      }
    }
  }
}