$COLOR_DARK_BLUE: #2a3052;
$COLOR_WHITE: #ffffff;
.historical-data-dialog {
	.historical-data {
		padding: 0 !important;
		position: relative;
	}
	.instrument-dropdown {
		position: absolute;
		height: 36px;
		width: 195px;
		left: 180px;
		top: 2px;
		color: $COLOR_WHITE;
		z-index: +1;
		> ul {
			border: none;
			visibility: hidden;
			opacity: 0;
			transition: visibility 0.5s, opacity 0.1s linear 0.4s;
		}
		.ui-menu .ui-menu-item {
			list-style-image: none !important;
			.ui-menu-item-wrapper {
				padding: 5px 24px 5px 6.5px;
				margin: 0;
			}
		}
		.ui-widget.ui-widget-content {
			border: none !important;
		}
		&:hover > ul {
			visibility: visible;
			opacity: 1;
			transition: visibility 0s;
		}
		li {
			min-width: 130px;
			background: $COLOR_DARK_BLUE;
			color: $COLOR_WHITE;
		}
		.title {
			background-image: url('../images/thin-arrowheads-pointing-down.svg') !important;
			padding-left: 7px;
			line-height: 34px;
			font-size: 16px;
			margin: auto;
			background-size: 10px 10px !important;
			background-position: 180px 50% !important;
			background-repeat: no-repeat;
			white-space: nowrap;
		}
	}
	.ui-dialog-titlebar {
		.ui-dialog-title {
			width: 320px;
		}
	}
	.date-time {
		position: absolute;
		right: 95px;
		top: 5px;
		color: $COLOR_WHITE;
		input {
			cursor: pointer;
			border: none;

			display: inline-block;
			width: 108px;
		}
		input:hover {
			border: 0.2px solid $COLOR_DARK_BLUE;
		}
	}
}
