.adx_input_width {
    width: 120px;
}

.adx_input_width_for_period {
    width: 115px;
}

.adx_level_input_width_for_level {
  width: 115px;
}

.adx label {
    display: block;
}

#adx_levels_wrapper {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 5px;
}

.adx-ui-dialog, .adx.ui-dialog-content, .adx_level.ui-dialog-content {
    overflow: visible;
}