.stochs {
    overflow-y: scroll;
}

.stochs_input_width {
    width: 150px !important;
}

.stochs_input_width_for_period {
    width: 150px !important;
}

.stochs label {
    display: block;
}

.stochs input {
    line-height: 10px !important;
}
