/**
 * Created by amin on 10/5/15.
 */

table.profit-table-dialog th span {
        height:2.5em !important;
        display:block;
        font-size:90%;
    /*padding: 5px 5px !important;*/
}
table.profit-table-dialog th,
table.profit-table-dialog td {
    padding: 0 5px !important;
    text-align:center;
}
table.profit-table-dialog th:nth-child(4),
table.profit-table-dialog th:nth-child(7) {
    width: 8% !important;
}
table.profit-table-dialog th:nth-child(6) {
    width: 9% !important;
}
table.profit-table-dialog th:nth-child(1),
table.profit-table-dialog th:nth-child(2),
table.profit-table-dialog th:nth-child(5) {
    width: 13% !important;
}
table.profit-table-dialog th:nth-child(3) {
    width: 36% !important;
}
table.profit-table-dialog tr td:nth-child(3){
    text-align: left;
}


    table.profit-table-dialog th > .search-input {
        text-align:center;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing: border-box;
        border-radius:10px;
        font-family: 'Roboto', sans-serif !important;
        font-size: 90%;
    }

    table.profit-table-dialog th > .search-input:focus {
        box-shadow: 3px -1px 8px 1pt lightblue;
        outline: 0;
    }

table.profit-table-dialog + div {
    padding: 0.5em 0 !important;
}

table.profit-table-dialog img.arrow {
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: right;
    position: relative;
    right: -5px;
    top: 5px;
}
