/**
 * Created by amin on 10/5/15.
 */

table.profit-table-dialog {
    /*table-layout:fixed;*/
}

table.profit-table-dialog th {
    padding: 5px 5px !important;
}
table.profit-table-dialog td {
    padding: 0 5px !important;
}
table.profit-table-dialog th,
table.profit-table-dialog td
 {
    text-align:center;
    width: 12% !important; /* make important: jQ-datatables overrides this */
}
    table.profit-table-dialog span {
        margin-bottom: 5px;
        display:block;
        font-size:90%;
    }

    table.profit-table-dialog th.wide-column{
        width: 28% !important;
    }

    table.profit-table-dialog th > .search-input {
        text-align:center;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing: border-box;
        border-radius:10px;
        font-family: 'Roboto', sans-serif !important;
        font-size: 90%;
    }

    table.profit-table-dialog th > .search-input:focus {
        box-shadow: 3px -1px 8px 1pt lightblue;
        outline: 0;
    }

table.profit-table-dialog + div {
    padding: 0.5em 0 !important;
}

table.profit-table-dialog img.arrow {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    cursor: pointer;
    float: right;
}
