.instruments_table {
    display: table;
}

.instruments_table div {
    display: table-row;
    padding: 5px 5px 5px 5px;
}

.instruments_table div div {
    display: table-cell;
    padding: 5px 5px 5px 5px;
}

.underline {
    text-decoration: underline;
}

.fixed_width {
    width: 55px;
}

#instrumentSelectionMenuDIV {
    position: relative;
    z-index: 1;
    padding: 0;
}

#instrumentSelectionMenuDIV ul {
    width: 100px;
    text-align: left;
}
