.roc_input_width {
    width: 150px !important;
}

.roc_input_width_for_period {
    width: 150px !important;
}

.roc_level_input_width_for_level {
  width: 150px !important;
}

.roc label {
    display: block;
}

#roc_levels_wrapper {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 5px;
}
