.chartOptions {
    padding: 5px;
}

.chartOptions .table {
    display: inline-block;
    vertical-align: top;
}

.chartOptions .table .row .cell {
    padding-right: 5px;
}

.chartOptions .chartOptions_button {
    border-radius: 5px;
    border: 1px solid darkgrey;
    background: white;
    padding: 5px 5px 5px 5px;
    height: 22px;
    margin-bottom: 4px;
}

.chartOptions .button_selected {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    border-top: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    border-bottom: none;
    height: 26px;
    margin-bottom: 0px;
}

.chartOptions .chartOptions_button:hover,
.chartOptions .chartOptions_overlay.chartTypeOverlay > .table .row,
.chartOptions .chartOptions_overlay.drawingToolOverlay .row .cell {
    cursor: pointer;
}

.chartOptions .chartOptions_button span { display: inline-block; }
.chartOptions .chartOptions_button span img { max-height: 20px; }

.chartOptions .chartOptions-export-table {
    float: right;
}

.chartOptions .chartOptions_overlay {
    position: absolute;
    z-index: +1;
    background-color: white;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
}

.chartOptions .chartOptions_overlay.exportOverlay button,
.chartOptions .chartOptions_overlay.timePeriodOverlay button {
    width: 25px;
    height: 25px;
    padding: 1px 1px 1px 1px;
    line-height: 1px;
}

.chartOptions .chartOptions_overlay.chartTypeOverlay > .table .row:hover {
    background-color: darkgrey;
}

.chartOptions .chartOptions_overlay .cell {
    padding: 5px;
}
.chartOptions .chartOptions_overlay .cell:nth-child(1) {
    width: 12px;
}

.chartOptions .chartOptions_overlay.loadSaveOverlay {
    left: 72px;
}
.chartOptions .chartOptions_overlay.loadSaveOverlay .cell {
  width: auto;
}
.chartOptions .chartOptions_overlay.loadSaveOverlay .cell button {
  background-color: #273051;
}
.chartOptions .chartOptions_overlay.loadSaveOverlay .chartoptions-horizontal-line {
  width: 150px;
}

.chartOptions .chartOptions_overlay.exportOverlay {
    right: 10px;
    left: initial;
}

.chartOptions .chartOptions_overlay.exportOverlay > div.row > div.cell {
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
}

.chartOptions .chartOptions_overlay.exportOverlay > .row > .cell {
    padding: 0px;
}

.chartOptions .padding-bottom-5 {
    padding-bottom: 5px !important;
}

.chartOptions .export-button {
    width: 35px !important;
}

.chartOptions .vertical-bottom {
    vertical-align: bottom;
}

.chartOptions .chartoptions-horizontal-line {
    background-color: darkgrey;
    height: 1px;
    position: relative;
}

.countBubl {
    float: right;
    position: absolute;
    margin-left: -13px;
    margin-top: -3px;
    background: rgb(64, 68, 72);
    color: #fff;
    font-size: 0.55em;
    border-radius: 10px;
    padding: 1px;
    min-width: 10px;
    text-align: center;
}
