.chart-dialog {
    min-width: 350px;
    min-height: 400px;
    background-color: white !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.chartSubContainer {
    position: relative;
    padding: 3px 0 0 3px;
}

.chart-dialog .chart-view,
.chart-dialog .table-view {
  height: 100%;
  width: 100%;
  position: absolute;
}
.chart-dialog .table-view {
  left: 100%;
}

.chart-dialog .table-view .close {
  position: absolute;
  z-index: +1;
  right: 0;
  background: #e98024;
  border: 1px solid #e98024;
  border-radius: 0 0 0 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 0px 10px;
}
