.chart-dialog {
    min-width: 350px;
    min-height: 400px;
    background-color: white !important;
    padding: 0 !important;
}

.chartSubContainer {
    position: relative;
    padding: 3px 0 0 3px;
}

.chart-dialog .chart-view,
.chart-dialog .table-view {
  height: 100%;
  width: 100%;
  position: absolute;
}
.chart-dialog .table-view {
  left: 100%;
}
