.chartOptions {
    position: absolute;
    z-index: 1002;
    top: 10px;
    left: 10px;
}

.chartOptions > img {
    position: relative;
    float: left;
}

.chartOptions > ul {
    display: none;
}

.chartOptions li {
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
}

.chartOptions .addOverlay span,
.chartOptions .removeOverlay span,
.chartOptions .addInidicators span,
.chartOptions .removeIndicators span,
.chartOptions .addChartObject span,
.chartOptions .removeChartObject span
{
    margin-left: 8px;
}
