.indicator-dialog {
  background: white;
  padding: 10px !important;
}
.indicator-dialog span.title-big {
  display: block;
  font-size: 1.4em;
  font-weight: lighter;
  margin-bottom: 10px;
}

.indicator-dialog span.title {
  font-size: 1.1em;
  font-weight: bolder;
  display: block;
  margin-bottom: 15px;
}

.indicator-dialog div.category > div span {
  display: inline-block;
  vertical-align: top;
}

.indicator-dialog div.category > div > span:nth-child(1) {
  width: 170px;
  font-size: 0.925em;
}
.indicator-dialog div.category > div {
  height: 45px;
  width: 200px;
  display: inline-block;
  margin-right: 18px;
  vertical-align: middle;
  cursor: pointer;
}

.indicator-dialog div.category > div > span.question-mark,
.indicator-dialog div.category > div > span.remove {
  color: #777;
  font-size: 1.1em;
}

.indicator-dialog .favorite span.ui-icon {
  color: #E98024;
}

.indicator-dialog .add-indicators { position: relative; }
.indicator-dialog .add-indicators span.ui-icon {
  color: #777;
  position: absolute;
  right: 7px;
  top: 6px;
  cursor: pointer;
}
.indicator-dialog .add-indicators input {
  max-width: 200px;
  padding-right: 25px;
  padding-left: 5px;
  float: right;
}
.indicator-dialog .add-indicators span { display: inline-block; }
