.ui-dialog .ui-dialog-content.real-dialog {
    padding: 0 10px;
    background: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.real-dialog span.validation {
    color: red;
    font-size: 11px;
}

.real-dialog span.explanation {
    font-size: 11.5px;
    color: #aaa;
}

.real-dialog div.validations {
    height: auto;
    margin-top: -2px;
}

.real-dialog select + .ui-selectmenu-button {
    /* override jq-ui css */
    font-size: 14px !important;
    z-index: 100;
    padding-left: 8px;
    width: 100%;
    box-sizing: border-box;
}

.real-dialog .row {
    padding: 5px 0;
}

/* for jq select menu */

.real-dialog-ul {
    /* override binary-style css */
    font-size: 14px !important;
    max-height: 100px;
}

.real-dialog .row > span {
    display: block;
}

.real-dialog span.title {
    font-size: 14px;
    margin-bottom: 2px;
    width: calc(100% - 20px);
    display: inline-block;
}

.real-dialog span.title-big {
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0 3px 0;
}

.real-dialog .u-span-text-normal {
    font-size: 14px;
}

.real-dialog .u-margin-left-small {
    margin-left: 10px;
}

.real-dialog span.residence + .validations {
    margin-left: 10px;
    white-space: nowrap;
}

.real-dialog input {
    font-size: 14px;
}

.real-dialog input + input {
    margin-top: 5px;
}

.real-dialog button {
    margin: 5px 0;
}

.real-dialog a {
    color: #EA9800;
    font-weight: normal;
    text-decoration: underline;
}


/* financial step styles */

.real-dialog span.back-arrow {
    color: #aaa;
    font-size: 12px;
    cursor: pointer;
    margin-top: 10px;
}

.real-dialog .back-arrow > span {
    display: inline-block;
    position: relative;
}

.real-dialog .user,
.real-dialog .financial {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    overflow-y: auto;
}

.real-dialog .user label {
    display: block;
    font-size: 12px;
}

.real-dialog .user label input {
    float: left;
    position: relative;
    top: -2px;
}

.real-dialog .user button {
    float: right;
}

.real-dialog .financial .title-big + div {
    height: auto;
    margin-bottom: 10px;
}

.real-dialog .financial .financial-explanation {
    font-size: 12px;
    display: block;
}

.real-dialog .financial label {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

.real-dialog .financial label input {
    float: left;
    margin-bottom: 1em;
}

.real-dialog .financial span.please-select {
    color: red;
    font-size: 16px;
    display: inline-block;
    text-align: right;
}

.real-dialog .disabled-form {
    pointer-events: none;
    opacity: 0.6;
}

.real-dialog .risk span {
    margin-bottom: 10px;
}

.real-dialog .risk {
    width: 300px;
    padding: 5px;
    font-size: 15px;
    position: relative;
    background: white;
    z-index: 1000000000;
    bottom: 425px;
    left: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.7) 0 6px 50px;
}

.real-dialog .risk:after {
    border: 8px solid;
    border-color: white transparent transparent transparent;
    content: "";
    left: 33%;
    margin-left: -8px;
    position: absolute;
    top: 100%;
}

.chosen-drop .chosen-results {
    max-height: 90px;
}

.chosen-container-active .chosen-choices {
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    box-shadow: none;
}

.chosen-container .chosen-choices {
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    background-image: none;
}

.chosen-container-active .chosen-drop {
    border: 1px solid #f2f2f2;
}

.chosen-container-active .chosen-drop .chosen-results li.highlighted {
    background: #1e90ff;
}

.real-dialog .popup-open-text {
    border-bottom: 1px dotted #000;
    cursor: pointer;
}
.real-dialog .new_account .notice-msg {
    font-size: 14px;
}
.real-dialog .new_account table tbody tr{
    text-align: center;
}

.real-dialog .new_account table tbody tr td:first-of-type {
    line-height: 50px;
}

.real-dialog input[type="text"]:disabled {
    color: #aeaeae;
}

.real-dialog input[type="text"]:disabled:hover {
    border: 1px solid #f2f2f2;
}

.real-dialog .ui-selectmenu-text {
    /* override main.css default for select */
    padding: 0px !important;
}
