.real-dialog {
  padding: 0 10px !important;
  background: white !important;
  overflow: hidden !important;
}

.real-dialog span.validation {
  color: red;
  font-size: 11px;
}

.real-dialog span.explanation {
  font-size: 11.5px;
  color: #aaa;
}

.real-dialog div.validations {
  height: 18px;
  margin-top: -2px;
}


.real-dialog select + .ui-selectmenu-button {
  margin-bottom: 10px;
  border-radius: 5px !important;
  font-size: 14px;
  z-index: 100;
}

/* for jq select menu */
.real-dialog-ul {
  font-size: 14px !important;
  max-height: 100px;
}

.real-dialog > div > span {
  display:  block;
}

.real-dialog span.title {
  font-size: 14px;
  margin-bottom: 2px;
  width: calc(100% - 20px);
  display: inline-block;
}
.real-dialog span.title-big {
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0 3px 0;
}

.real-dialog span.residence {
  margin-left: 10px;
}
.real-dialog span.residence + .validations {
  margin-left: 10px;
  white-space: nowrap;
}

.real-dialog input {
  font-size: 14px;
}
.real-dialog input + input {
  margin-top: 5px;
}

.real-dialog button {
  margin-top: 5px;
}

.real-dialog a {
  color: #EA9800;
  font-weight: normal;
  text-decoration: underline;
}

/* financial step styles */
.real-dialog span.back-arrow {
  color: #aaa;
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
}
.real-dialog .back-arrow > span {
  display: inline-block;
  position: relative;
  top: 2px;
}

.real-dialog .user label {
  display: block;
  font-size: 12px;
}
.real-dialog .user label input {
  float: left;
  position: relative;
  top: -2px;
}

.real-dialog .user button {
  float: right;
  margin-top: 10px;
}

.real-dialog .financial .title-big + div {
  height: auto;
  margin-bottom: 10px;
}

.real-dialog .financial .financial-explanation {
  font-size: 12px;
  display: block;
}

.real-dialog .financial label {
  display: block;
  margin: 10px 0;
  font-size: 14px;
}
.real-dialog .financial label input {
  float: left;
  margin-bottom: 1em;
}

.real-dialog .financial span.please-select {
  color: red;
  font-size: 16px;
  display: inline-block;
  text-align: right;
}

.real-dialog .disabled-form {
  pointer-events: none;
  opacity: 0.6;
}

.real-dialog .risk span {
  margin-bottom: 10px;
}
.real-dialog .risk {
  width: 300px;
  padding: 5px;
  font-size: 15px;
  position: absolute;
  background: white;
  z-index: 1000000000;
  bottom: 65px;
  right: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 6px 50px;
}
.real-dialog .risk:after {
  border: 8px solid;
  border-color: white transparent transparent transparent ;
  content: "";
  left: 33%;
  margin-left: -8px;
  position: absolute;
  top: 100%;
}
