.git
.grunt
.idea
.tern-project
*.log

dist
!/lib/*/*/dist
translations/i18n/json/

node_modules
bower_components
.brackets.json
*.swp
.Rhistory
.DS_Store
npm-debug.log

#VS editor stuff
_references.js
src/.vsdoc/
