$help-list-item-height: 40px;

.ui-dialog .ui-dialog-content.help-dialog {
    padding: 0px;
    .list,
    .sublist {
        float: left;
        height: 97%;
        border-right: 1px solid #dedede;
        overflow: auto;
        .help-search {
            padding: 0px 10px;
            height: $help-list-item-height;
            display: flex;
            align-items: center;
        }
        .ui-icon-circle-close {
            display: inline;
            left: -15px;
            width: 10px;
            cursor: pointer;
        }
        .items {
            .selected {
                background: #dedede;
            }
            span {
                display: block;
                height: $help-list-item-height;
                line-height: 2.5em;
                padding-left: 10px;
                cursor: pointer;
            }
        }
    }
    .list {
        width: 180px;
    }
    .sublist {
        min-width: 285px;
    }
    .content {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        .loading {
            display: flex;
            width: 395px;
            height: 100%;
            align-items: center;
            justify-content: center;
            font-size: 34px;
            color: #b3b3b3;
            z-index: +1;
            opacity: 0.9;
            background: #fafafa;
            position: absolute;
        }
        .items {
            padding: 0 5px 0 10px;
            ul {
                list-style-type: circle;
                font-size: 15px;
                li {
                    margin-left: -20px;
                }
            }
            ol li {
                margin-left: -40px;
            }
            img {
                display: block;
                margin: auto;
            }
            code {
                width: 100%;
                display: block;
                padding: 5px 0;
                text-align: center;
                background: #f2f2f2;
                border-radius: 4px;
                color: #394171;
                font-weight: 700;
            }
            #binary-benefits h3 {
                color: #E98024;
            }
            .search-text {
                margin-top: 30px;
                margin-bottom: 20px;
                span.highlight {
                    color: #E98024;
                }
            }
        }
    }
}
