.ui-dialog .ui-dialog-content.help-dialog {
	padding: 0px;
	.list, .sublist{
		float: left;
		height: 97.5%;
		border-right: 1px solid #dedede;
		overflow: auto;
		padding-top: 10px;
		.ui-icon-search {
		    z-index: +1;
		    position: relative;
		    top: 6px;
		    left: 15px;
		}
		.help-search {
		    width: 85%;
		    margin-left: 10px;
		    padding-left: 25px;
		    top: -15px;
		    position: relative;
		}
		.items {
			.selected {
				background: #dedede;
			}
			span {
				display: block;
				height: 40px;
				line-height: 2.5em;
				padding-left: 10px;
				cursor: pointer;
			}
		}
	}

	.list {
		width: 180px;
	}

	.sublist {
		width: 285px;
		.items {
			padding-top: 42px;
		}
	}

	.content{
		height: 98%;
		overflow-y: auto;
		overflow-x: hidden;
		.loading {
			display: flex;
			width: 395px;
		    height: 100%;
		    align-items: center;
		    justify-content: center;
		    font-size: 34px;
		    color: #b3b3b3;
		    z-index: +1;
		    opacity: 0.9;
		    background: #fafafa;
		    position: absolute;
		}
		.items {
			padding: 0 5px 0 10px;
			ul {
				list-style-type: circle;
				font-size: 15px;
			}
			img {
				display: block;
				margin:auto;
			}
		}
	}
}