$HELP_LIST_ITEM_HEIGHT: 40px;
$MAIN_ORANGE: #E98024;

.ui-dialog .ui-dialog-content.help-dialog {
    padding: 0px;
    .list,
    .sublist {
        float: left;
        height: 97%;
        border-right: 1px solid #dedede;
        overflow: auto;
        .help-search {
            padding: 0 10px;
            height: $HELP_LIST_ITEM_HEIGHT;
            display: flex;
            align-items: center;
        }
        .items {
            .selected {
                background: #dedede;
            }
            span {
                display: flex;
                align-items: center;
                height: $HELP_LIST_ITEM_HEIGHT;
                padding-left: 10px;
                cursor: pointer;
            }
        }
    }
    .list {
        width: 180px;
    }
    .sublist {
        min-width: 285px;
    }
    .content {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        .items {
            padding: 0 5px 0 10px;
            margin-top: -18px;
            ul {
                list-style-type: circle;
                font-size: 15px;
                li {
                    margin-left: -20px;
                }
            }
            ol li {
                margin-left: -40px;
            }
            img {
                display: block;
                margin: auto;
            }
            code {
                width: 100%;
                display: block;
                padding: 5px 0;
                text-align: center;
                background: #f2f2f2;
                border-radius: 4px;
                color: #394171;
                font-weight: 700;
            }
            #binary-benefits h3 {
                color: $MAIN_ORANGE;
            }
            .search-text {
                span.highlight {
                    color: $MAIN_ORANGE;
                }
            }
        }
    }
}
