.bop_input_width {
    width: 120px;
}

.bop_level_input_width_for_level {
    width: 115px;
}

.bop label {
    display: block;
}

#bop_levels_wrapper {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 5px;
}


.ui-dialog , .ui-dialog .ui-dialog-content {
     overflow : visible;
}