.realitycheck_firstscreen {
    display: block;
    padding: 10px;
}

.realitycheck_firstscreen_header {
    padding-bottom: 10px;
}

.realitycheck_secondscreen {
    display: none;
    padding: 10px;
}

.realitycheck_secondscreen_header, .realitycheck_secondscreen_header span {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.realitycheck_secondscreen_body table tr th strong {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.realitycheck .button {
    width: 140px;
    height: 30px;
    margin-top: 10px;
}

.realitycheck input {
    width: 50px;
    height: 25px;
}

.realitycheck_timeout {
    padding-top: 10px;
    padding-bottom: 10px;
}

.realitycheck_btnContainer {
    text-align: center;
    margin: auto;
}
