.natr_input_width {
    width: 120px;
}

.natr_input_width_for_period {
    width: 115px;
}

.natr_level_input_width_for_level {
    width: 115px;
}

.natr label {
    display: block;
}

#natr_levels_wrapper {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 5px;
}

.ui-dialog , .ui-dialog .ui-dialog-content {
     overflow : visible;
}
