.logo {
	width: 18.3%;
}
.logo-wrapper{
	margin:5px 0 10px 10px;
}
table td{
	border:none;
}
#mobile-nav {
    position: absolute;
    left: -280px;
    top: 53px;
    width: 280px;
    min-height: 100%;
    background-color: #273051;
    z-index: 999999;
}
#container {
	position: relative;
	margin: auto;
	text-align: center;
	padding: 10px;
	width:60%;
	margin-top: 5%;
	top: 15%\9; /*for IE8 and below*/
}
#container p {
	position: relative;
  	font-weight: lighter;
  	font-size: 1.3em;
}
#container table {
	position: relative;
	font-weight: bold;
	margin-top: 7%;
	width: 100%;
}
#container table tr td a {
	text-decoration: none;
}
.hidden {
	display: none;
}
a img{
    border: 0;
}
#mobile-container p{
	margin: 30px 15px 5px 15px;
}
p.alternatives {
	font-size: 1.2em;
}
#mobile-container{
	position: relative;
	display: none;
	margin-top: 20%;
	color: #2E2A2B;
}
.mobile-options {
	width: 100%;
}
.mobile-options tr td{
	display: block;
	padding: 10px 10px 10px 15px;;
	border-bottom: 1px solid #E4E5E7;
}
.mobile-options tr td:first-child{
	border-top: 1px solid #E4E5E7;
}
.mobile-options tr td a{
	text-decoration: none;
	color: #0C163A;
	font-weight: bold;
}
@media screen and (max-width: 800px) {
	#container{
		display: none;
	}
	#mobile-container{
	display: block;
	}
}