.oauth-dialog {
  padding: 0 !important;
  background: white !important;
}

/* login dialog styles */
.oauth-dialog .login-dialog > div {
  line-height: 1.5em;
  box-sizing: border-box;
  padding: 10px;
}

.oauth-dialog .login-dialog > div > span {
  display: block;
  margin-bottom: 10px;
}

.oauth-dialog .login-dialog > div > button {
    background: #2e8836;
    border: none;
    border-radius: 5px;
    color: white;
    outline: 0;
    width: 100%;
    line-height: 25px;
}

.oauth-dialog .login-dialog .login-pane {
  float: left;
  width: 42%;
}

.oauth-dialog .login-dialog .register-pane {
  float: right;
  width: 58%;
}

/* registeration dialog styles */
.oauth-dialog .registeration-dialog { padding: 10px; }
.oauth-dialog .registeration-dialog .email-back {
  display:  block;
  color: #aaa;
  font-size: 12px;
  cursor: pointer;
}
.oauth-dialog .registeration-dialog .email-back > span {
  display: inline-block;
  position: relative;
  top: 2px;
}
