.oauth-dialog {
  padding: 0 !important;
  background: white !important;
}

.oauth-dialog span.validation {
  color: red;
  font-size: 12px;
}

.oauth-dialog span.explanation {
  font-size: 12px;
  color: #c9c9c9;
}

.oauth-dialog div.validations {
  height: 12px;
  padding-bottom: 10px;
}

.oauth-dialog button {
    background: #2e8836;
    border: none;
    border-radius: 5px;
    color: white;
    outline: 0;
    width: 50%;
    line-height: 25px;
}

.oauth-dialog input {
  padding: 0px 5px;
  border: none;
  border-bottom: solid 2px #9494b8;
  transition: border 0.3s;
  outline: 0;
  box-sizing: border-box;
  box-shadow: inset 0 1px 2px rgba(0,0,100,.10);
  width: 100%;
  height: 25px;
  line-height: 25px;
  margin:5px 5px 5px 0;
}
.oauth-dialog input:focus {
  border-bottom: solid 2px #2d2d86;
  /*box-shadow: inset 0 1px 2px rgba(0,0,100,.4);*/
}

/* login dialog styles */
.oauth-dialog .login-dialog > div {
  line-height: 1.5em;
  box-sizing: border-box;
  padding: 10px;
}

.oauth-dialog .login-dialog > div > span {
  display: block;
  margin-bottom: 10px;
}

.oauth-dialog .login-dialog > div > button { width: 100%; }

.oauth-dialog .login-dialog .login-pane {
  float: left;
  width: 42%;
}

.oauth-dialog .login-dialog .register-pane {
  float: right;
  width: 58%;
}

/* registeration dialog styles */
.oauth-dialog .registeration-dialog { padding: 10px;}
.oauth-dialog .registeration-dialog > span { display:  block; }

.oauth-dialog .registeration-dialog span.email-back {
  color: #aaa;
  font-size: 12px;
  cursor: pointer;
  padding-bottom: 10px;
}
.oauth-dialog .registeration-dialog .email-back > span {
  display: inline-block;
  position: relative;
  top: 2px;
}

/* account openning dialog styles */
.oauth-dialog .account-dialog { padding: 10px; }
.oauth-dialog .account-dialog > span { display:  block; }

.oauth-dialog .account-dialog select + .ui-selectmenu-button {
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px !important;
  z-index: 100;
}
