.willr_input_width {
    width: 150px !important;
}

.willr_input_width_for_period {
    width: 150px !important;
}

.willr_level_input_width_for_level {
    width: 150px !important;
}

.willr label {
    display: block;
}

#willr_levels_wrapper {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 5px;
}

.willr input {
    line-height: 10px !important;
}
