.stddev_input_width {
    width: 120px;
}

.stddev_input_width_for_period {
    width: 115px;
}

.stddev_level_input_width_for_level {
  width: 115px;
}

.stddev label {
    display: block;
}

#stddev_levels_wrapper {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 5px;
}
