<div class='workspace-manager-dialog'>
  <input type="hidden" autofocus="autofocus" />
  <div class='tabs'>
    <div rv-on-click='update_route | bind "active"' rv-class-selected='route | one-of "active" "rename"'>Active</div>
    <div rv-on-click='update_route | bind "saved"' rv-class-selected='route | eq "saved"'>Saved</div>
  </div>
  <div class='active-tab' rv-show='route | one-of "active" "rename"'>
    <div class='current-workspace'>
      <div class='name'>
        <input rv-value='current_workspace.name' />
        <div class='icon-confirm' />
      </div>
      <div class='icon-save' />
      <div class='icon-saveas' />
    </div>

    <div class='dialogs'>
      <div class='dialog' rv-each-dialog='dialogs'>
        <div class='name' rv-on-click='dialog.click'>
          <span rv-text='dialog.name'></span>
        </div>
        <div class='icon-remove' rv-on-click='dialog.remove' />
      </div>
    </div>

  </div>

  <div class='saved-tab' rv-show='route | eq "saved"'>
    <div class='workspaces'>
      <div rv-each-row="workspaces">
        <div rv-if='row.name | not-eq current_workspace.name' class='icon-tick-normal' />
        <div rv-if='row.name | eq current_workspace.name' class='icon-tick-selected' />
        <div class='name'>
          <input rv-value='row.name' />
          <div class='icon-confirm' />
        </div>
        <div class='icon-delete' />
        <div class='icon-download' />
      </div>
    </div>
  </div>
</div>
