ul.workspace-manager.workspace-manager {
   min-width: 140px;
   li {
      > a {
         &:hover { opacity: 1; }
         color: white;
         padding: 0;
         line-height: 34px;
         padding-left: 36px;
         padding-right: 10px;
         &.invert-colors {
            background: white;
            color: #2A3052;
         }
      }
      span.ellipsis {
         text-overflow: ellipsis;
         max-width: 160px;
         overflow: hidden;
      }
   }
   li.active-workspace-li {
      > a {
         &:hover { background: #2A3052 !important; }
         span.ellipsis { vertical-align: text-top; }
      }
      .ui-icon-gears {
         left: auto;
         right: 0;
         position: absolute;
         top: 0;
         height: 100%;
         width: 34px;
         font-size: 18px;
      }
      span.ellipsis {
         display: inline-block;
         line-height: 18px;
         max-width: 135px;
      }
      ul.hide {
         opacity: 0 !important;
         // pointer-events: none;
      }
   }
   a.active-workspace-rename {
      padding: 0 !important;
      height: 34px;
      padding-right: 20px;
      &:hover { background: #2A3052 !important; }
      input {
         display: inline-block;
         border-radius: 0;
         box-shadow: none;
         border: none;
         background: #2A3052;
         color: white; 
         height: 28px;
         vertical-align: top;
         line-height: 28px;
         margin: 0 20px 0 30px;
         border-bottom: 2px solid white;
         width: 135px;
      }
   }

   .ui-icon-active-workspace, .ui-icon-saved-workspaces,
   .ui-icon-back, .ui-icon-arrange, .ui-icon-load,
   .ui-icon-tick-normal, .ui-icon-tick-selected,
   .ui-icon-edit, .ui-icon-save, .ui-icon-save-as, .ui-icon-delete {
      left: 10px;
      position: absolute;
      top: calc(50% - 8px);
      &:after { display: none; }
   }
   .ui-icon-active-workspace { background-image: url('../images/active.svg') !important; }
   .ui-icon-saved-workspaces { background-image: url('../images/saved.svg') !important; }
   .ui-icon-arrange { background-image: url('../images/arrange.svg') !important; }
   .ui-icon-load { background-image: url('../images/load.svg') !important; }
   .ui-icon-edit { background-image: url('../images/edit.svg') !important; }
   .ui-icon-save { background-image: url('../images/save.svg') !important; }
   .ui-icon-save-as { background-image: url('../images/save-as.svg') !important; }
   .ui-icon-tick-normal { background-image: url('../images/ic-tick-normal.svg') !important; }
   .ui-icon-tick-selected { background-image: url('../images/ic-tick-selected.svg') !important; }
   .ui-icon-delete { background-image: url('../images/delete-white.svg') !important; }
   .ui-icon-back {
      background-image: url('../images/back.svg') !important;
      width: 36px; height: 34px;
      left: 0; top: 0;
      background-position: 10px 50%;
   }

   .ui-icon-sub-menu {
      position: absolute;
      top: 0; right: 0;
      width: 36px; height: 34px;
      background-position: 15px 50%;
      &:hover { opacity: 0.8; }
   }
   .ui-icon-confirm, .ui-icon-delete-w{
      position: absolute;
      right: 4px;
      top: calc(50% - 9px);
   }
   .ui-icon-sub-menu { background-image: url('../images/gear.svg') !important; }
   .ui-icon-delete-w { background-image: url('../images/delete-black.svg') !important; }
   .ui-icon-confirm { background-image: url('../images/btn-confirm.svg') !important; width: 20px; height: 20px; }

   .dialog-list, .workspace-list {
      box-sizing: border-box;
      border: 1px solid #d2d2d2;
      border-top: none;
      li > a {
         padding: 0;
         display: flex;
         align-items: center;
         span.ellipsis { // the title
            display: inline-block;
            width: 100%;
            padding-left: 36px;

         }
         span.ui-icon-delete-w { // the X button
            display: inline-block;
            position: static;
            height: 34px;
            background-position: 3px 9px;
            width: 30px;
            transition: background-color 0.3s;
            &:hover {
               background-color: #f2f2f2;
            }
         }
      }
      .ui-icon-tick-normal, .ui-icon-tick-selected {
         pointer-events: none;
      }
   }
   .invert-on-hover:hover {
      background: #E98024;
   }
}
