.var_input_width {
    width: 120px;
}

.var_input_width_for_period {
    width: 115px;
}

.var label {
    display: block;
}

.var-ui-dialog, .var.ui-dialog-content, .var_level.ui-dialog-content {
    overflow: visible;
}