.rsi_input_width {
    width: 150px !important;
}

.rsi_input_width_for_period {
    width: 150px !important;
}

.rsi_level_input_width_for_level {
    width: 150px !important;
}

.rsi label {
    display: block;
}

#rsi_levels_wrapper {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 5px;
}
