.assetIndex {
  .asset-index-selectmenu {
    position: absolute;
    left: 240px;
    padding: 4px;
    height: 18px;
    top: 4px;

    &:first-of-type {
      position: absolute;
      left: 400px;
    }

    .ui-selectmenu-text {
      padding: 0 2px;
    }
  }
  .webtrader-dialog {
    width: auto !important;
  }
  .asset-index-dialog {
    width: 100%;
    tr {
      td, th {
        text-align: center;
        &:first-child {
          white-space: nowrap;
          width: 100px !important;
        }
        &:not(:first-child) {
          white-space: normal;
          width: 50px !important;
        }
      }
    }
  }
}
