.custom_theme {
	display: inline-block;
}
.custom_theme input {
    width: 100px;
}
#properties {
	float: right;
	width: 250px;
	margin-left: 10px;
	max-height: 400px;
	overflow: auto;
}
#preview-chart {
	position: relative;																																							
	float: left;
	width: 350px;
}
