.bbands_input_width {
    width: 150px;
}

.bbands_input_width_for_period {
    width: 145px;
}

.bbands label {
    display: block;
}

.bbands_td_width
{
	width: 50%;
}

.ui-dialog , .ui-dialog .ui-dialog-content {
     overflow : visible;
}