.indicator-builder.ui-dialog-content {
  padding: 0;
  overflow-x: hidden;
  .ui-slider {
      height: 2px;
      border: 1px solid #2A3052;
      position: relative;
      top: 17px;
      box-sizing: border-box;
      padding: 0 3px 0 5px;
     .ui-slider-handle {
       text-align: center;
       border-radius: 3px;
       width: 30px;
       font-size: 12px;
       position: relative !important;
       top: -25px !important;
       text-align: center !important;
       margin-left: -20px !important;
       height: 18px !important;
       background: transparent;
       color: #2A3052;
       &:after {
          content: ' ';
          width: 10px;
          height: 10px;
          position: absolute;
          top: 20px;
          left: 10px;
          background-color: #2A3052;
          border-radius: 5px;
          transition: all 0.3s;
       }

       &.ui-state-hover, &.ui-state-active {
          font-weight: bold;
          &:after {
             width: 14px;
             height: 14px;
             border-radius: 7px;
             top: 18px;
             left: 8px;
          }
       }
     }
  }

  .colorpicker-td {
     display: flex;
     flex-direction: row;
     justify-content: space-between;

     .colorpicker {
        width: 85%;
     }

     .colorpicker-preview {
       margin-top: 2px;
       width: 14%;
       height: 36px;
       margin: 0;
     }
  }


  .cp-slider {
      height: 12px;
      margin-top: 5px;
      border: none;
      margin: 0;
  }

  .dash-styles > div {
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    background-position: center;
    margin: 0 2px;
    width: 30%;
    cursor: pointer;
  }
  .dash-styles > div.dash-selected {
    background-color: lightgray;
    border-left: 5px solid black;
  }

  .applied-to, .price, .matype {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #2A3052;
    border-radius: 3px;
      div {
       flex-grow: 1;
       text-align: center;
       font-size: 12px;
       padding: 0 4px;
       cursor: pointer;
       transition: color 0.3s;
       color: #2A3052;
     }
     div.selected {
       background-color: #2A3052;
       color: white;
     }
  }
  .price div {
     font-size: 10px;
  }

  .levels-tr td:nth-child(2) {
    text-align: center;;
    button { line-height: 10px; }
  }
  table.levels td {
    text-align: center;
  }

  .levels-dash-style {
    width:50px;
    overflow: hidden;
    height: 10px;
    position: relative;
    top: 10px;
    left: 25%;
    background-repeat: no-repeat;
  }

  .levels-dialog {
    width: calc(100% - 30px);
    left: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    padding-top: 5px;
    background: white;
    position: absolute;
    z-index: 1;
    tr td:nth-child(1) { width: 35%; }

    table tr:last-child td {
      text-align: center;
      button { margin: 0 3px;}
    }
    button {
      line-height: 10px;
    }
  }

  .levels-dialog:after {
    border: 8px solid;
    border-color: transparent transparent #fff transparent;
    content: "";
    left: 70%;
    margin-left: -8px;
    position: absolute;
    bottom: 100%;
  }
  input {
     transition: border 0.7s;
     &.invalid {
        border: 1px solid red;
     }
  }
}
.indicator-builder-ui-dialog {
  .ui-dialog-buttonpane {
    padding: 0;
    margin: 0;
    button {
      box-sizing: border-box;
      margin: 5px 3px;
      border-radius: 3px !important;
      width: 100px;
      text-align: center;
    }
  }
  .image { text-align: center; }
}
