.indicator-builder.ui-dialog-content {
  padding: 0;
  overflow-x: hidden;
  > table {
     tr:nth-child(n+2) td:nth-child(1) {
        width: 40%;
        font-size: 14px;
        height: 100%;
     }
     tr:nth-child(n+2) {
        td:nth-child(2) {
           height: 100%;
        }
     }
  }
  .ui-slider {
      height: 2px;
      border: 1px solid #2A3052;
      position: relative;
      top: 17px;
      box-sizing: border-box;
      padding: 0 3px 0 5px;
     .ui-slider-handle {
       text-align: center;
       border-radius: 3px;
       width: 30px;
       font-size: 12px;
       position: relative !important;
       top: -25px !important;
       text-align: center !important;
       margin-left: -20px !important;
       height: 18px !important;
       background: transparent;
       color: #2A3052;
       &:after {
          content: ' ';
          width: 10px;
          height: 10px;
          position: absolute;
          top: 20px;
          left: 10px;
          background-color: #2A3052;
          border-radius: 5px;
          transition: all 0.3s;
       }

       &.ui-state-hover, &.ui-state-active {
          font-weight: bold;
          &:after {
             width: 14px;
             height: 14px;
             border-radius: 7px;
             top: 18px;
             left: 8px;
          }
       }
     }
  }

  .colorpicker-td {
     //display: flex;
     //flex-direction: row;
     //justify-content: space-between;
     //position: relative;
     //top: 2px;

     line-height: 1px;
     div {
        height: 26px !important;
        position: relative;
        top: -1px;
        padding: 0;
        border: none;
     }
     input {
        height: 1px;
        padding: 0;
        border: none;
        visibility: hidden;
     }
  }


  .cp-slider {
      height: 12px;
      margin-top: 5px;
      border: none;
      margin: 0;
  }

  .dash-styles {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     .dd-container {
        width: 100% !important;
        .dd-select, .dd-options {
           width: 100% !important;
           margin: 0 !important;
        }
        li {
           line-height: 1em;
           margin: 0;
        }
        img { max-width: 200px; max-height: 4px; }
     }
  }


  .applied-to, .price, .matype {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #2A3052;
    border-radius: 3px;
      div {
       flex-grow: 1;
       text-align: center;
       font-size: 12px;
       padding: 0 4px;
       cursor: pointer;
       transition: color 0.3s;
       color: #2A3052;
     }
     div.selected {
       background-color: #2A3052;
       color: white;
     }
  }
  .price div {
     font-size: 10px;
  }

  .levels-tr td:nth-child(2) {
    text-align: center;
    button { line-height: 10px; }
  }
  table.levels td {
    text-align: center;
    width: 24%;
  }
  table.levels tr td:nth-child(1) {
     width: 20%;
  }

  .levels-dash-style {
    width:50px;
    overflow: hidden;
    height: 10px;
    position: relative;
    top: 10px;
    left: 25%;
    background-repeat: no-repeat;
  }

  .levels-dialog {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    padding-top: 5px;
    background: white;
    tr td:nth-child(1) {
       max-width: 40%;
       font-size: 13px;
    }

    table tr:last-child td {
      text-align: center;
      button { margin: 0 3px;}
    }
    button {
      line-height: 10px;
    }
  }

  .levels-dialog:before {
    border: 8px solid;
    border-color: transparent transparent #fff transparent;
    content: "";
    left: 68%;
    position: relative;
    top: -32px;
  }
  input {
     transition: border 0.7s, background-color 0.7s;
     &.invalid {
        border: 1px solid red;
        background-color: rgba(255, 0, 0, 0.2);
     }
  }
  [data-balloon] {
     border-bottom: 0px;
     cursor: pointer;
     &:before {
        padding: 0.5em;
        font-size: 0.8em;
        border: none;
        box-shadow: none;
        border-radius: 0px;
        left: -10px;
        bottom: -4px;
     }
     &:after {
        bottom: 12px;
        left: -4px;
     }
  }
}

.indicator-builder-ui-dialog {
  .ui-dialog-buttonpane {
    padding: 0;
    margin: 0;
    button {
      box-sizing: border-box;
      margin: 5px 3px;
      border-radius: 3px !important;
      width: 100px;
      text-align: center;
    }
  }
  .image { text-align: center; }
}
