.indicator-builder.ui-dialog-content {
  padding: 0;
  overflow-x: hidden;
  overflow-y: overlay;
  .ui-slider-handle {
    padding: 0 5px;
    text-align: center;
    width: 30px;
    border-radius: 3px;
    font-size: 12px;
    position: relative !important;
    top: -2px !important;
    text-align: center !important;
    margin-left: -20px !important;
    height: 18px !important;
  }

  .colorpicker-preview {
    margin-top: 2px;
    width: 100%;
    height: 20px;
    display: inline-block;
  }

  .cp-slider {
      height: 12px;
      margin-top: 5px;
      border: none;
      margin: 0;
  }

  .dash-styles > div {
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    background-position: center;
    margin: 0 2px;
    width: 30%;
    cursor: pointer;
  }
  .dash-styles > div.dash-selected {
    background-color: lightgray;
    border-left: 5px solid black;
  }

  .applied-to, .price, .matype {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
      div {
       /*box-shadow: 0 0 10px rgba(0,0,0,.15);*/
       background-color: #f5f5f5;
       box-sizing: border-box;
       font-size: 12px;
       padding: 0 4px;
       cursor: pointer;
     }
     div.selected {
       background-color: lightgray;
       border-left: 5px solid black;
     }
  }
  .price div {
     font-size: 10px;
  }

  .levels-tr td:nth-child(2) {
    text-align: center;;
    button { line-height: 10px; }
  }
  table.levels td {
    text-align: center;
  }

  .levels-dash-style {
    width:50px;
    overflow: hidden;
    height: 10px;
    position: relative;
    top: 10px;
    left: 25%;
    background-repeat: no-repeat;
  }

  .levels-dialog {
    width: calc(100% - 30px);
    left: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    padding-top: 5px;
    background: white;
    position: absolute;
    z-index: 1;
    tr td:nth-child(1) { width: 35%; }

    table tr:last-child td {
      text-align: center;
      button { margin: 0 3px;}
    }
    button {
      line-height: 10px;
    }
  }

  .levels-dialog:after {
    border: 8px solid;
    border-color: transparent transparent #fff transparent;
    content: "";
    left: 70%;
    margin-left: -8px;
    position: absolute;
    bottom: 100%;
  }
  input {
     transition: border 0.7s;
     &.invalid {
        border: 1px solid red;
     }
  }
}
.indicator-builder-ui-dialog {
  .ui-dialog-buttonpane {
    padding: 0;
    margin: 0;
    button {
      box-sizing: border-box;
      margin: 5px 3px;
      border-radius: 3px !important;
      width: 100px;
      text-align: center;
    }
  }
  .image { text-align: center; }
}
