.tema_input_width {
    width: 160px;
}

.tema_input_width_for_period {
    width: 155px;
}

.tema label {
    display: block;
}

.ui-dialog , .ui-dialog .ui-dialog-content {
     overflow : visible;
}