.trade-dialog {
    padding: 0 !important;
    position: relative;
    overflow-x: hidden !important;
}

/* .trade-fields contains all the form fields */
.trade-dialog .trade-fields {
  position: relative;
  height: 100%;
  width: 100%;
}
/* .trae-conf comes from tradeConf.js module */
.trade-dialog .trade-conf {
    left:-350px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.trade-dialog .error { background: #fef1cf; }
.trade-dialog .hide { display:none; }

.trade-fields .ui-selectmenu-button {
    border-radius: 5px !important;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.25);
}

.trade-fields .sparkline-chart {
  width:95px;
  padding:0;
}

.trade-fields select.contract-category-display + .ui-selectmenu-button {
    /*display: block; margin:0 auto;*/
    width: 160px !important; /* !important because jq-ui.selecetmenu(...) overrides this */
}

.trade-fields .duration-select + .ui-selectmenu-button {
    width: 120px !important;
}
.trade-fields .duration-count {
    padding:0;
    width: 40px;
}
.trade-fields .duration-unit {
    width: 100px;
}

.trade-fields .tick-quote,
.trade-fields .barrier-live {
    border-bottom:1px dotted #000;
    text-shadow: 3px 2px 4px rgba(0,0,0,0.45);
}

.trade-fields .date-start-select + .ui-selectmenu-button {
    width:120px !important;
}
/* style elments in the drop down*/
.trade-dialog-date-start-ul li {
    height:10px;
    font-size:13px;
    text-align:center;
}
/* this will be added to jquery ui widget which is outside of the .trade-fields container */
.trade-dialog-date-start-ul {
    height: 240px;
}
/* this will be added to jquery ui widget which is outside of the .trade-fields container */
.trade-dialog-digits-select-ul:hover { margin-top: -20px; }
.trade-dialog-digits-select-ul { transition: margin-top 0.5s ease; }
.trade-dialog-digits-select-ul li {
    overflow-y:hidden;
    height:10px;
    font-size:13px;
    text-align:center;
    margin-top: 0px;
    padding:0;
}

.trade-fields .digits-select + .ui-selectmenu-button {
    width: 40px !important;
}
.trade-fields .digits-select + .ui-selectmenu-button .ui-selectmenu-text {
    padding-left: 0.4em;
}

.trade-fields li p {
    text-shadow: 3px 2px 4px rgba(0,0,0,0.45);
    border-bottom:1px dotted #000;
    margin: 0;
}


.trade-fields .basis-select + .ui-selectmenu-button {
    width: 100px !important;
}
.trade-fields .currency-select + .ui-selectmenu-button {
    width: 75px !important;
}
.trade-fields .basis-amount {
    padding:0;
    width: 80px;
}

.trade-fields .barriers-barrier {
    width: 70px;
}

/*#region input type=number */
.trade-fields input[type="number"]::-webkit-outer-spin-button,
.trade-fields [type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.trade-fields [type="number"] {
    -moz-appearance: textfield;
}

.trade-fields span.ui-spinner {
    background: none;
    border:none;
    margin-bottom:5px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.25);
}

.trade-fields input[type=number],
.trade-fields input[type=text] {
    outline: 0;
    border:none;
    border-radius:5px;
    height: 30px;
    margin:0;
    text-align:center;
    background: #273051;
    color:white;
}
.trade-fields input[step] {
    padding-right: 15px;
}
.trade-fields input[step-big] {
    padding-right: 30px;
}

.trade-fields .ui-spinner-button.ui-spinner-up {
    margin-top: 0;
}
/*#endregion*/

.trade-fields ul {
    transition: padding-top 0.5s ease;
    list-style:none;
    margin: 0;
    padding: 3px 0 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trade-fields ul li {
    text-align: center;
    padding: 0 5px;
}

/*#region ul.contract-displays */
    .trade-fields ul.contract-displays {
        background: #c2c1c1;
        padding: 10px 0;
        margin: 5px 0 0 0;
    }

    .trade-fields ul.contract-displays li {
        opacity: .5;
        cursor: pointer;
    }

    .trade-fields ul.contract-displays li.active {
        opacity: 1;
        font-weight: bold;
    }

    .trade-fields ul.contract-displays li:before {
        content: " | ";
        opacity: .5;
        font-weight:normal;
    }
    .trade-fields ul.contract-displays li:first-child:before { content: none; }
/*#endregion*/

.trade-fields input.datepicker,
.trade-fields input.timepicker
 {
    margin-bottom: 5px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.25);
}

.trade-fields input.date-expiry-date {
    width: 100px;
}
.trade-fields input.date-expiry-hour {
    width: 50px;
}

/* override timepciker styles */
.ui-timepicker-table td a {
    width: 1.1em !important;
    padding: .2em .4em !important;
    border: .1em solid #273051 !important;
}
.ui-timepicker-table td a.ui-state-active {
    color: orange;
    border: .1em solid orange !important;
    background: white;
    text-align:center;
}

.trade-fields .amount-per-point {
  width: 70px;
}

.trade-fields .stop-type-row li {
    width: 32%;
}

.trade-fields .stop-loss-row li,
.trade-fields .stop-profit-row li {
  width:32%;
}
.trade-fields .stop-loss-row li span.ui-spinner,
.trade-fields .stop-profit-row li span.ui-spinner {
    margin-left: -30px;
}
.trade-fields .stop-loss-row li input,
.trade-fields .stop-profit-row li input {
    width: 70px;
}


/* for elements that should stick to the buttom of dialog */
.trade-fields .stick-to-bottom {
  position: absolute;
  width: 100%;
}

.trade-fields .proposal-message {
    border-top: 1px solid #c2c1c1;
    text-shadow: 3px 2px 4px rgba(0,0,0,0.45);
    font-size: 95%;
    bottom: 80px;
}

.trade-fields .message-row {
  bottom: 50px;
  padding: 2px 0;
}

.trade-fields .netprofit { background: #c2c1c1; }
.trade-fields .spread-deposit {
    background: #c2c1c1;
    white-space: nowrap;
    font-size: 85%;
}

.trade-fields .purchase-row { bottom: 5px; }
.trade-fields .purchase-row li { font-size: larger; }
.trade-fields .purchase-row span { font-weight: bolder; }
.trade-fields .purchase-button {
    background: #2e8836;
    border: none;
    border-radius: 5px;
    line-height: 2.25em;
    color: white;
    outline: 0;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.25);
    width: 120px;
}


/* ********************* Animated checkbox with CSS3 ****************/
label.checkbox {
  min-width: 80px;
  cursor:pointer;
  display: block;
  position: relative;
  margin-top: -10px;
}
label.checkbox  input { display:none;}
label.checkbox span  {
  display:block;
  position:absolute;
  /*left:0;
  top: 0;*/
  height:18px;
  width:18px;
  transition-duration:0.3s;
}
label.checkbox span.text     {
  padding-top: 3px;
  padding-left: 40px;
}
label.checkbox span.box     {
  border:3px solid #273051;
  transition-delay:0.1s;
}
label.checkbox span.check  {
  top: -8px;
  left: 5px;
  width: 12px;
  height: 24px;
  border: none;
  border-style: none solid solid none;
  border-width: medium 4px 3px medium;
  border-color: #273051;
  opacity:0;
  transform:rotate(180deg);
  transition-delay:0.2s;
}
/* handling click events */
label.checkbox input:checked ~ span.box {
  opacity: 0;
  transform: scale(0) rotate(-180deg);
}
label.checkbox input:checked ~ span.check {
  opacity: 1;
  transform: scale(1) rotate(45deg);
}
