.trade-conf .title-row {
    text-shadow: 3px 2px 4px rgba(0,0,0,0.45);
    background: #c2c1c1;
    font-size: large;
    padding: 5px 0;
}
.trade-conf .message-row {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
