.trade-conf .title-row {
    text-shadow: 3px 2px 4px rgba(0,0,0,0.45);
    background: #c2c1c1;
    font-size: large;
    padding: 5px 0;
}
.trade-conf .message-row {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.trade-conf .payout-row {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 0;
}
.trade-conf .payout-row li {
  height: 90px;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  justify-content: center;
  width: 32%;
  font-size: 1.2em;
  text-shadow: 3px 2px 4px rgba(0,0,0,0.45);
}
.trade-conf .payout-row li:not(:first-child) {
  border-left: 1px solid #ccc;
}

.trade-conf .payout-row li span:first-child {
  height: 50px;
}
.trade-conf .payout-row li span:nth-child(2) {
  font-weight: bold;
}

.trade-conf .transaction-row {
  margin-top: 15px;
}

.trade-conf .view-row {
  margin-top: 40px;
  background: #c2c1c1;
}
.trade-conf .view-row .view {
  padding-right: 30px;
  font-size: 1.4em;
}
.trade-conf .view-row .arrow {
  width: 30px;
  height: 30px;
}

.trade-conf .balance-row {
  bottom: 0;
  position: absolute;
  width: 100%;
}
.trade-conf .balance-row .bold {
    font-weight: bold;
}

.trade-conf .digits-row {
  margin-top: 15px;
  height: 108px;
  overflow-y: hidden;
}
.trade-conf .digits-row li {
    height: 18px;
    display: flex;
}
.trade-conf .digits-row li span {
  width: 33%;
}
