.trade-dialog {
    padding: 0 !important;
}

.trade-dialog .ui-selectmenu-button {
    border-radius: 5px !important;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.25);
}

.trade-dialog select.contract-category-display + .ui-selectmenu-button {
    /*display: block; margin:0 auto;*/
    width: 200px !important; /* !important because jq-ui.selecetmenu(...) overrides this */
}

.trade-dialog .duration-select + .ui-selectmenu-button {
    width: 120px !important;
}
.trade-dialog .duration-count {
    padding:0;
    width: 40px;
}
.trade-dialog .duration-unit {
    width: 100px;
}

.trade-dialog .tick-quote,
.trade-dialog .barrier-live
 {
    border-bottom:1px dotted #000;
    text-shadow: 3px 2px 4px rgba(0,0,0,0.45);
}

.trade-dialog .date-start-select + .ui-selectmenu-button {
    width:120px !important;
}
/* style elments in the drop down*/
.trade-dialog-date-start-ul li {
    height:10px;
    font-size:13px;
    text-align:center;
}
.trade-dialog-date-start-ul {
    height: 240px;
}

.trade-dialog .digits-select + .ui-selectmenu-button {
    width: 40px !important;
}
.trade-dialog .digits-select + .ui-selectmenu-button .ui-selectmenu-text {
    padding-left: 0.4em;
}

.trade-dialog li p {
    text-shadow: 3px 2px 4px rgba(0,0,0,0.45);
    border-bottom:1px dotted #000;
}

/* style elments in the drop down*/
.trade-dialog-digits-select-ul li
 {
    overflow-y:hidden;
    height:10px;
    font-size:13px;
    text-align:center;
    padding:0;
}

.trade-dialog .basis-select + .ui-selectmenu-button {
    width: 100px !important;
}
.trade-dialog .currency-select + .ui-selectmenu-button {
    width: 75px !important;
}
.trade-dialog .basis-amount {
    padding:0;
    width: 80px;
}

.trade-dialog input.datepicker,
.trade-dialog input.timepicker
 {
    outline: 0;
    border:none;
    border-radius:5px;
    height: 2em;
    margin:0;
    padding-left: 5px;
    background: #273051;
    color:white;
}

.trade-dialog input.endtime-date {
    margin-bottom: 5px;
    width: 100px;
    padding-left:0;
    text-align:center;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.25);
}
.trade-dialog input.endtime-hour {
    margin-bottom: 5px;
    width: 40px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.25);
}

.trade-dialog .barriers-barrier {
    width: 70px;
}

/*#region input type=number */
.trade-dialog input[type="number"]::-webkit-outer-spin-button,
.trade-dialog [type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.trade-dialog [type="number"] {
    -moz-appearance: textfield;
}

.trade-dialog span.ui-spinner {
    background: none;
    border:none;
    margin-bottom:5px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.25);
}

.trade-dialog input[type=number],
.trade-dialog input[type=text] {
    outline: 0;
    border-radius:5px;
    height: 30px;
    margin:0;
    /*padding-left: 5px;*/
    text-align:center;
    background: #273051;
    color:white;
}
.trade-dialog input[step] {
    padding-right: 15px;
}
.trade-dialog input[step-big] {
    padding-right: 30px;
}

.trade-dialog .ui-spinner-button.ui-spinner-up {
    margin-top: 0;
}
/*#endregion*/

.trade-dialog .hide {
    display:none;
}

.trade-dialog ul {
    list-style:none;
    text-align:center;
    margin: 0;
    padding: 3px 0 0 0;
}

.trade-dialog ul li {
    vertical-align:middle;
    display: inline-block;
    padding: 0 5px;
}


/*#region ul.contract-displays */
    .trade-dialog ul.contract-displays {
        background: #c2c1c1;
        padding: 10px 0;
        margin: 5px 0 0 0;
    }

    .trade-dialog ul.contract-displays li {
        opacity: .5;
        cursor: pointer;
    }

    .trade-dialog ul.contract-displays li.active {
        opacity: 1;
        font-weight: bold;
    }

    .trade-dialog ul.contract-displays li:before {
        content: " | ";
        opacity: .5;
        font-weight:normal;
    }
    .trade-dialog ul.contract-displays li:first-child:before { content: none; }
/*#endregion*/
