<div class="trade-conf">

  <ul class="title-row">
    <li>
      <span rv-text="title.text" />
    </li>
  </ul>

  <ul class='message-row'>
    <li>
      <span rv-text="buy.message" />
    </li>
  </ul>

  <ul class='payout-row'>
    <li>
      <span>Potential Payout</span>
      <span rv-text='buy.payout_amount' />
    </li>
    <li>
      <span>Total Cost</span>
      <span rv-text='buy.buy_price' />
    </li>
    <li>
      <span>Potential Profit</span>
      <span rv-text='buy.potential_profit | to-fixed 2' />
    </li>
  </ul>

  <ul class='transaction-row'>
    <li>
      <span>Your transaction reference is </span><span rv-text='buy.transaction_id' />
    </li>
  </ul>

  <ul class='view-row'
    rv-unless="ticks.category | one-of 'Digits' 'Up/Down'">
    <li class="view">
      View
    </li>
    <li rv-on-click='arrow.onclick'>
      <img class="arrow" src="images/up-arrow.svg"/>
    </li>
  </ul>

  <ul class="digits-row"
      rv-auto-scroll-bottom="ticks.array"
      rv-class-won="ticks.status | notify title.update | eq 'won'"
      rv-class-lost="ticks.status | eq 'lost'"
      rv-if="ticks.category | eq 'Digits'">
      <li rv-each-row="ticks.array">
          <span> Tick {row.number} </span>
          <span>{row.epoch | utc-time}</span>
          <span rv-html="row.quote | bold-last-character"></span>
      </li>
  </ul>
  <div class='tick-chart'
       rv-if="ticks.category | eq 'Up/Down'"
       rv-tick-chart='ticks.array'
       rv-attr-tick-count='ticks.tick_count'
       width='350'
       height='130'>
  </div>

  <ul class='balance-row'>
    <li>
      <span> Account blance: </span>
      <span class="bold">{buy.currency}</span>
      <span class="bold">{buy.balance_after | to-fixed 2}</span>
    </li>
  </ul>
</div>
