@import "../charts/chartStyle.scss";
$COLOR_GRAY: #ccc;

.trade-conf {
  overflow: hidden;
}
.trade-conf ul {
    list-style:none;
    margin: 0;
    padding: 3px 0 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trade-conf ul li {
    text-align: center;
    padding: 0 5px;
}

.trade-conf .title-row {
    font-size: large;
    padding: 5px 0;
}
.trade-conf .message-row {
  padding: 5px 0;
  border-bottom: 1px solid $COLOR_GRAY;
}
.trade-conf .payout-row {
  border-bottom: 1px solid $COLOR_GRAY;
  border-top: 1px solid $COLOR_GRAY;
  padding: 0;
}
.trade-conf .payout-row li {
  height: 70px;
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 33%;
  font-size: 1.2em;
  font-weight: bold;
}
.trade-conf .payout-row.spreads-result li {
  width: auto; /* fix for IE broken flexbox implementation */
}
.trade-conf .payout-row li:nth-child(2) {
  border-left: 1px solid $COLOR_GRAY;
  border-right: 1px solid $COLOR_GRAY;
}
.trade-conf .payout-row li.amount-per-point span:nth-child(1) {
  white-space: nowrap;
  font-size: 90%;
}

.trade-conf .payout-row li span:first-child {
  height: 35px;
}
.trade-conf .payout-row li span:nth-child(2) {
  font-weight: bold;
}

.trade-conf .transaction-row {
  margin-top: 2px;
  padding-bottom: 5px;
}

.ui-dialog .ui-dialog-content.trade-dialog .trade-conf .view-row {
  height: 40px;
}
.ui-dialog .ui-dialog-content.trade-dialog .trade-conf .view-row .view {
    padding-bottom: 3px;
    margin-top: 3px;
    height: 100%;
    overflow-y: hidden;
}
.trade-conf .view-row .arrow {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.trade-conf .balance-row {
  width: 100%;
  padding: 0px;
}
.trade-conf .balance-row .bold {
    font-weight: bold;
}

.trade-conf .lost {
  background: rgba(204, 0, 0, 0.098);
}
.trade-conf .won {
  background: rgba(46, 136, 54, 0.196);
}
.trade-conf .digits-row {
  max-height: 107px;
  overflow-y: hidden;
  display: block;
}
.trade-conf .digits-row li {
  height: 18px;
  display: flex;
  padding-top: 2px;
}
.trade-conf .digits-row li span {
  width: 33%;
}

.trade-conf .close {
  position: absolute;
  z-index: +1;
  right: 0;
  border-radius: 0 0 0 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 2px 10px;
}

.tick-chart {
  .highcharts-subtitle {
    margin-top: -6px;
  }

 @include chartTooltip;
}
