.deposit-dialog {
  background: #fff !important;
  padding: 0 !important;
  overflow: hidden !important;
}

/* ------------------ TABS -------------------------- */
.deposit-dialog .tabs {
  padding: 0;
  line-height: 26px;
  height: 26px;
  background: #e0e0e0;
  font-size: 0; /* fight the whitespace between inline-block elements */
}

.deposit-dialog .tabs .tab {
  padding: 0;
  margin: 0;
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  border-right: 1px solid #aaa;
  border-bottom:1px solid #aaa;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
}
.deposit-dialog .tabs .tab.active {
  background: #fff;
}

/* ------------------- STANDARD-METHODS IFRAME --------------------------*/
.deposit-dialog .standard-methods {
  height: calc(100% - 26px);
  z-index: 0;
}
.deposit-dialog .standard-methods iframe {
  width: 100%;
  height: calc(100% - 26px);
  border: none;
}

@keyframes deposit-rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.deposit-dialog .standard-methods .rotating-logo {
  position: absolute;
  top: 100px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background:url(../images/binary-symbol-logo.svg) center center no-repeat;
  background-size: 100% 100%;
  animation: deposit-rotate 1.4s linear infinite;
 }

/* --------------------- PAYMENT-AGENTS -----------------------------------*/
.deposit-dialog .payment-agents {
  padding: 10px;
  font-size: 15px;
  height: calc(100% - 26px);
  box-sizing: border-box;
  overflow: scroll;
}
.deposit-dialog .payment-agents .title {
  display: block;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.deposit-dialog .payment-agents .agents {
  border-radius: 5px;
  border: 1px solid #aaa;
}

.deposit-dialog .payment-agents .agent {
  border-top: 1px solid #aaa;
}
.deposit-dialog .payment-agents .agent:first-child { border-top: none; }

.deposit-dialog .payment-agents .agent .header {
  padding: 10px;
  cursor: pointer;
}
.deposit-dialog .payment-agents .agent .header .name {
  font-weight: bold;
}
.deposit-dialog .payment-agents .agent .header .commission {
  float: right;
  color: #aaa;
  font-size: 14px;
}
.deposit-dialog .payment-agents .agent .header .arrow {
    float: right;
    color: #aaa;
    height: 18px;
    padding: 0 5px;
}
