$gray: #aaa;
$red: red;
$size_small: 14px;
$size_tiny: 12px;


.withdraw-dialog {
  background: #fff !important;
  padding: 0 !important;
  overflow: hidden !important;

  .menu {
    padding: 5px 10px;

    > * {
      display: block;
      margin: 10px 0;
    }
    .explanation {
        color: $gray;
        font-size: $size_small;
    }
  }

  .verify {
    padding: 5px 10px;
    > * {
      display: block;
    }
    .title {
      margin: 10px 0 20px 0;
    }
    input {
      margin: 5px 0;
      width: 70%;
    }
    button {
      margin-top: 15px;
    }
    .error {
      font-size: $size_tiny;
      color: $red;
    }
  }

  .back-arrow {
    color: $gray;
    font-size: $size_tiny;
    cursor: pointer;
    padding-bottom: 10px;
    > span {
      display: inline-block;
      position: relative;
      top: 2px;
    }
  }
}
