.trima_input_width {
    width: 140px;
}

.trima_input_width_for_period {
    width: 135px;
}

.trima label {
    display: block;
}

.ui-dialog , .ui-dialog .ui-dialog-content {
     overflow : visible;
}