.sum_input_width {
    width: 120px;
}

.sum_input_width_for_period {
    width: 115px;
}

.sum label {
    display: block;
}

#sum_levels_wrapper {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 5px;
}
