body * {
    font-family: 'Roboto', sans-serif;
}
#nav-container {
    position: absolute;
    width: 100%;
    background-color: #273051;
    height: 53px;
    text-align: center;
    top:0%;
    left:0%;
}

#nav-container .nav-logo {
    position: absolute;
    margin-top: 6px;
    left: 10px;
}
#nav-container .nav-logo img {
    width: 40px;
}
#mobile-nav {
    position: absolute;
    left: -280px;
    top: 53px;
    width: 280px;
    min-height: 100%;
    background-color: #273051;
    z-index: 999999;
}
#menu-heading {
    position: absolute;
    color: white;
    font-size: 24px;
    left: 60px;
    top: 12px;
    text-shadow: 0 0 3px #333;
}
#container {
	position: relative;
	margin: auto;
	text-align: center;
	padding: 10px;
	width:60%;
	margin-top: 5%;
	top: 15%\9; /*for IE8 and below*/
  color: #2E2A2B;
}
#container .upgrade {
	color: #E67E1F;
  font-weight: lighter;
  font-size: 2.5em;
}
#container p {
	position: relative;
  font-weight: lighter;
  font-size: 1.3em;
}
#container table {
	position: relative;
	font-weight: bold;
	margin-top: 7%;
	width: 100%;
}
#container table tr td a {
	text-decoration: none;
	color: #0C163A;
	font-weight: bold;
}
.hidden {
	display: none;
}
a img{
    border: 0;
}
#mobile-container .orange{
	color: #E67E1F!important;
	font-size: 1.2em;
}
#mobile-container{
	position: relative;
	display: none;
	margin-top: 20%;
	color: #2E2A2B;
}
.mobile-options {
	width: 100%;
}
.mobile-options tr td{
	display: block;
	padding: 10px;
	background: #F5F6F8;
	border-top: 1px solid #E4E5E7;
	border-bottom: 1px solid #E4E5E7;
}
.mobile-options tr td a{
	text-decoration: none;
	color: #0C163A;
	font-weight: bold;
}
@media screen and (max-width: 800px) {
	#container{
		display: none;
	}
	#mobile-container{
	display: block;
	}
}