.download_window {
    background-color: white !important;
    overflow: inherit !important;
}

.download {
    text-align: center;
}

.download .ui-menu {
}

.download_fromDate {
    min-width: 110px;
    max-width: 110px;
    position: relative;
    top: -3px;
    line-height: 5px !important;
}

.download_fromTime {
    min-width: 60px;
    max-width: 60px;
    position: relative;
    top: -3px;
    line-height: 5px !important;
}

.download_table td {
    text-align: left;
    vertical-align: middle;
}

.download_inst_time_cont {
    display: flex;
}

.download_instruments_container li, .download_timePeriod_container li {
    text-align: left;
    white-space: nowrap;
}

.download_timePeriod_container {
    margin-left: 5px;
}

.download_instruments_container > ul, .download_timePeriod_container > ul {
    position: absolute;
    display: block;
    list-style: none outside none;
}

.downloadChart {
    height: 100%;
}