.download_window {
    background-color: white !important;
    overflow: inherit !important;
}

.download {
    text-align: center;
    td {
      white-space: nowrap;
    }
    td.fill-remaining-space {
      width: 100%;
    }
}

.download_fromDate, .download_fromTime {
    display: inline-block;
    position: relative;
    line-height: 5px !important;
}
.download_inst_time_cont div {
    display: inline-block;
}

.download_instruments_container, .download_timePeriod_container {
  ul { direction: ltr; }
}

.download_timePeriod_container {
    margin:0 5px;
}

.download_instruments_container > ul, .download_timePeriod_container > ul {
    position: absolute;
    display: block;
    list-style: none outside none;
}

.downloadChart {
    height: 100%;
}

.download_table {
    td {
        text-align: left;
        vertical-align: middle;
    }

    button {
      &.img{
        background: #f3f1f2;
        padding: 5px;
      }
    }

    .overlay {
        margin-top: 0px;
        position: absolute;
        z-index: +1;
        background: #fff;
        border: 1px solid #c2c2c2;
        color: #2a3052;
        display: none;
    }
    .exportOverlay {
        .row {
          display: flex;
          width: 100%;
          &:nth-child(2n):not(:last-child) {
            border-bottom: 1px solid #c2c2c2;
          }
          .cell {
            display: flex;
            width: 100%;
            a img {
              width: 50px;
              height: 50px;
              margin-left: -8px;
              margin-right: -3px;
            }
            .table.share-button {
              margin-left: 8px;
              margin-bottom: 0px;
            }
            .table.download {
              margin:0px 4px 10px 4px;
              span {
                padding-top: 11px;
                height: 19px;
                margin: 0px 0px 0px 5px;
              }
            }
            .vertical-bottom {
              margin-left: 7.5px;
              height: 22.5px;
              font-size: 0.8em;
              margin-top: 11px;
              line-height: 8px;
              &.share{
                height: 8px;
              }
              &.button {
                padding: 4px 7px 2px 7px;
                background: #f3f1f2;
                width: auto;
                margin-right: 4px;
                border-radius: 3px;
                &:hover {
                    background: #dedede;
                }
              }
            }
            input {
              margin-left: 7.5px;
              font-size: 0.8em;
              margin-bottom: 10px;
              width: 93%;
              border: 1px solid #c2c2c2;
              box-shadow: none;
              color: #2a3052;
              padding: 0px 5px 0px 5px;
              font-weight: 600;
            }
          }
        }
    }
    [data-balloon] {
      border-bottom: 0px;
      cursor: pointer;
      &:before {
        padding: 0.5em;
        font-size: 0.8em;
        border: none;
        box-shadow: none;
        border-radius: 0px;
      }
    }
}
