/*
	Created by Armin on 10/13/2015
*/

/* password dialog styles */
#passwordDialog {
	font-family: 'Roboto', sans-serif;
}

#passwordDialog input[type=password] {
	max-width: 120px !important;
	border-radius: 3px !important;
	padding: 1px 6px;
	border: 2px solid #DDD !important;
}

/* change password button container */
.pwd-dialog-button-pane {
	text-align: center;
}

/* change password button styles */
.pwd-dialog-btn {
	background-color: #288942;
	padding: 6px 12px;
	color: white;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

.pwd-dialog-btn:hover {
	background-color: #31A851;
}

.pwd-dialog-btn:disabled {
	background-color: #666;
	color: #E8E8E8;
	cursor: default;
}

/* jquery validation labels override */
#password-form label.error {
	display: block;
	color: red;
	font-size: small;
}