/*
	Created by Armin on 10/13/2015
*/

div#passwordDialog {
	height: 100% !important;
}

div#passwordDialog input[type=password] {
	border-radius: 3px !important;
	padding: 1px 6px;
	border: 2px solid #DDD !important;
	width: 90%;
}

form#password-form table {
	width: 100%;
}

/* change password button container */
.pwd-dialog-button-pane {
	text-align: center;
}

/* jquery validation: error labels override */
#password-form label.error {
	display: block;
	color: red;
	font-size: small;
}