.stochrsi {
    overflow-y: scroll;
}

.stochrsi_input_width {
    width: 155px !important;
}

.stochrsi_input_width_for_period, .stochrsi_level_input_width_for_level {
    width: 120px !important;
}

.stochrsi label {
    display: block;
}

.stochrsi input {
    line-height: 10px !important;
}
