.spinner-in-dialog-body {
    width: 100px;
    margin-left:5px;
    float:left;
}

.span-in-dialog-header {
    margin-top: 7px;
    float:left;
}

.trading-times-sub-header{
    margin-top:-.3em;
    height: 2em;
}
.trading-times-sub-header .ui-selectmenu-button {
    margin-right: .2em;
    width: 148px !important;
}
.trading-times-sub-header .subheader-message {
    float:right;
    margin-right: -7px;
    margin-top: .5em;
    font-weight:bold;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}

.ui-dialog-titlebar.with-dates {
    height:20px;
}
    .ui-dialog-titlebar.with-dates .ui-dialog-title {
        width: 20%;
    }
    .ui-dialog-titlebar.with-dates .ui-selectmenu-button {
        margin-top: -.4em;
    }
    .ui-dialog-titlebar.with-dates .title {
        margin-top: .1em;
        float:left;
    }
    .ui-dialog-titlebar.with-dates .ui-datepicker-trigger .ui-icon {
        zoom: 1.5;
        margin-top: -1.3em;
    }
    .ui-dialog-titlebar .ui-selectmenu-button span.ui-icon{
        right:0;
    }
    .ui-dialog-titlebar .ui-selectmenu-button span.ui-selectmenu-text{
        padding-left: 1.0em;
        padding-right:0.1em;
    }
    ul.ui-menu { max-height: 320px !important; }