.span-in-dialog-header {
    margin: 1px 5px 0;
    float:left;
}

.ui-dialog-titlebar {
    height:20px;
    overflow: hidden;
    direction: ltr; /* .ltr-direction */
}
.rtl-direction .ui-dialog-titlebar .ui-selectmenu-text {
  text-align: right;
}


.ui-dialog-titlebar .ui-dialog-title.with-content {
    min-width:200px;
    width: 20%;
    padding-bottom: 5px;
}

.ui-dialog-titlebar .ui-selectmenu-button {
    padding: 0;
    margin-top: -.3em;
    height: 28px;
    margin-right: 5px;
    vertical-align: top;
}

.ui-dialog-titlebar .title {
    margin-top: .1em;
    float:left;
}

.ui-dialog-titlebar .ui-datepicker-trigger {
  position: absolute;
  top: 11px;
}

/* use a maximum height for jq-ui dropdowns */
ul.date-day.ui-menu { max-height: 320px; }

/* hide the search section from jq-datatables if hide-search-input is set */
.hide-search-input .dataTables_filter {
    display:none;
}

img.reload {
    cursor: pointer;
    position: relative;
    left: 7px;
    bottom: 2px;
    width: 14px;
    height: 14px;
}

.webtrader-dialog img.disabled { opacity: 0.5; }

.ui-icon.custom-icon-maximize {
    cursor: pointer;
    background-image: url('../images/maximize.svg');
    position: relative;
    right: 3px;
}
.ui-icon.custom-icon-minimize {
    cursor: pointer;
    background-image: url('../images/minimize.svg');
    position: relative;
    right: 6px;
}
.ui-button:hover .ui-icon.custom-icon-close,
.ui-button:focus .ui-icon.custom-icon-close,
.ui-icon.custom-icon-close {
    cursor: pointer;
    background-image: url('../images/close.svg');
    right: 3px;
    top: 9px;
}

.webtrader-dialog-widget .ui-dialog-titlebar-close {
   top: 1px;
   background: transparent;
}

.webtrader-dialog-widget .ui-dialog-titlebar-close:hover,
.webtrader-dialog-widget .ui-dialog-titlebar-close {
   border: none;
}

.ui-icon-newwin {
    position: relative;
    right: 3px;
}
.ui-datepicker-trigger.ui-button {
    margin-top: -12px;
    border: none;
    background: none;
    box-shadow: none;
    font-weight: normal;
    color: #FFFFFF;
}
