.span-in-dialog-header {
    margin-top: 1px;
    float:left;
}

.ui-dialog-titlebar.with-contents {
    height:20px;
}
    .ui-dialog-titlebar.with-contents .ui-dialog-title {
        min-width:100px;
        width: 20%;
        padding-bottom: 5px;
    }
    .ui-dialog-titlebar.with-contents .ui-selectmenu-button {
        margin-top: -.4em;
    }
    .ui-dialog-titlebar.with-contents .title {
        margin-top: .1em;
        float:left;
    }

    .ui-dialog-titlebar.with-dates .ui-datepicker-trigger {
        margin-top: -1.6em;
    }
    .ui-dialog-titlebar.with-dates .ui-selectmenu-button span.ui-icon{
        right:0;
    }
    .ui-dialog-titlebar.with-dates .ui-selectmenu-button span.ui-selectmenu-text{
        padding-left: 1em;
        padding-right:0.1em;
    }
    .ui-dialog-titlebar.with-dates :nth-child(6) span.ui-selectmenu-text{
        padding-left: .5em;
    }
    /* use a maximum height for jq-ui dropdowns */
    ul.ui-menu { max-height: 320px !important; }
/* hide the search section from jq-datatables if hide-search-input is set */
.hide-search-input .dataTables_filter {
    display:none;
}

td.red {
    color: #d71818;
    font-weight:bold;
}

td.green {
    color: #02920e;
    font-weight:bold;
}

/* Remove IE10+ "clear field" X button on certain inputs
   This does not trigger a JQ changed event, and no other browser has such X button */
input::-ms-clear {
    display: none;
}
