.span-in-dialog-header {
    margin-top: 1px;
    float:left;
}

.ui-dialog-titlebar.with-dates {
    height:20px;
}
    .ui-dialog-titlebar.with-dates .ui-dialog-title {
        width: 20%;
    }
    .ui-dialog-titlebar.with-dates .ui-selectmenu-button {
        margin-top: -.4em;
    }
    .ui-dialog-titlebar.with-dates .title {
        margin-top: .1em;
        float:left;
    }
    .ui-dialog-titlebar.with-dates .ui-datepicker-trigger {
        margin-top: -1.6em;
    }
    .ui-dialog-titlebar.with-dates .ui-selectmenu-button span.ui-icon{
        right:0;
    }
    .ui-dialog-titlebar.with-dates .ui-selectmenu-button span.ui-selectmenu-text{
        padding-left: 1.0em;
        padding-right:0.1em;
    }
    /* use a maximum height for jq-ui dropdowns */
    ul.ui-menu { max-height: 320px !important; }
/* hide the search section from jq-datatables if hide-search-input is set */
.hide-search-input .dataTables_filter {
    display:none;
}
