.ui-dialog-titlebar {
    height:20px;
    overflow: hidden;
    direction: ltr; /* .ltr-direction */
}
.rtl-direction .ui-dialog-titlebar .ui-selectmenu-text {
  text-align: right;
}

.ui-dialog-titlebar .ui-selectmenu-button {
    padding: 0;
    height: 28px;
    vertical-align: top;
    margin-left: 10px;
}

.ui-dialog-titlebar .title {
    margin-top: .1em;
    float:left;
}

/* use a maximum height for jq-ui dropdowns */
ul.date-day.ui-menu { max-height: 320px; }

/* hide the search section from jq-datatables if hide-search-input is set */
.hide-search-input .dataTables_filter {
    display:none;
}

img.reload {
    cursor: pointer;
    padding-left: 7px;
    padding-bottom: 2px;
    height: 14px;
}

.webtrader-dialog img.disabled { opacity: 0.5; }

.ui-icon.custom-icon-maximize {
    cursor: pointer;
    background-image: url('../images/maximize.svg')!important;
    position: relative;
}
.ui-icon.custom-icon-minimize {
    cursor: pointer;
    background-image: url('../images/minimize.svg')!important;
    position: relative;
}
.ui-icon.custom-icon-restore {
    cursor: pointer;
    background-image: url('../images/new-windows.svg')!important;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}
.ui-dialog-titlebar-restore, .ui-dialog-titlebar-restore:hover {
    margin-right: 6px;
}
.ui-dialog-titlebar-maximize, .ui-dialog-titlebar-maximize:hover {
    margin-right: 6px;
}
.ui-dialog-titlebar-minimize, .ui-dialog-titlebar-minimize:hover {
    margin-right: 6px;
}

.ui-dialog-titlebar-buttonpane {
    position: initial !important;
    min-width: 75px !important;
    margin-left: auto;
    background: #2a3052;
    top: 0 !important;
    margin-top: 0 !important;
    padding-top: 5px;
    height: 22px !important;
}
.ui-button:hover .ui-icon.custom-icon-close,
.ui-button:focus .ui-icon.custom-icon-close,
.ui-icon.custom-icon-close {
    cursor: pointer;
    background-image: url('../images/close.svg')!important;
    top: 9px;
}
.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.webtrader-dialog-widget {
    min-width: 225px !important;
}
.ui-dialog .ui-dialog-title {
    cursor: default;
    width: fit-content;
}
.webtrader-dialog-widget .ui-dialog-titlebar-close {
   top: 1px;
   background: transparent;
}

.webtrader-dialog-widget .ui-dialog-titlebar-close:hover,
.webtrader-dialog-widget .ui-dialog-titlebar-close {
   border: none;
   margin-left: -14px !important;
   margin-right: -10px !important;
}
.ui-datepicker-trigger.ui-button {
    margin-left: -10px;
    position: relative;
    border: none;
    background: none;
    box-shadow: none;
    font-weight: normal;
    color: #FFFFFF;
}

.windows-dateInput {
  width: initial !important;
  position: relative;
}

.span-in-dialog-header { margin: 0 15px; }

