.span-in-dialog-header {
    margin-top: 1px;
    float:left;
}

.ui-dialog-titlebar.with-contents {
    height:20px;
}
    .ui-dialog-titlebar.with-contents .ui-dialog-title {
        min-width:100px;
        width: 20%;
        padding-bottom: 5px;
    }
    .ui-dialog-titlebar.with-contents .ui-selectmenu-button {
        margin-top: -.4em;
    }
    .ui-dialog-titlebar.with-contents .title {
        margin-top: .1em;
        float:left;
    }

    .ui-dialog-titlebar.with-dates .ui-datepicker-trigger {
        margin-top: -1.6em;
    }
    .ui-dialog-titlebar.with-dates .ui-selectmenu-button span.ui-icon{
        right:0;
    }
    .ui-dialog-titlebar.with-dates .ui-selectmenu-button span.ui-selectmenu-text{
        padding-left: 1em;
        padding-right:0.1em;
    }
    .ui-dialog-titlebar.with-dates :nth-child(6) span.ui-selectmenu-text{
        padding-left: .5em;
    }
    /* use a maximum height for jq-ui dropdowns */
    ul.ui-menu { max-height: 320px !important; }
/* hide the search section from jq-datatables if hide-search-input is set */
.hide-search-input .dataTables_filter {
    display:none;
}

.shine {
  position: relative;
}
/* sine effect, hover style if required */
.shine:hover { }
/* generated element for shine effect. normal state is semi-transparent
 * white but with zero width. Set no transition here for no mouse-leave
 * animations. Otherwise the effect will play in reverse when your mouse
 * leaves the element */
.shine:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
/* on hover we animate the width to 100% and opacity to 0 so the element
 * grows and fades out */
.shine:hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
