.ui-slider-handle {
  padding: 0 5px;
  font-size: 12px;
  position: relative !important;
  top: -2px !important;
  text-align: center !important;
  margin-left: -15px !important;
  height: 18px !important;
}

.colorpicker-preview {
  margin-top: 2px;
  width: 100%;
  height: 20px;
  display: inline-block;
}

.cp-slider.cp-hslhue.cp-transparency {
    height: 20px;
    border: none;
    margin: 0;
}

.dash-styles > div {
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  box-sizing: border-box;
  background-position: center;
  margin: 0 2px;
  width: 30%;
}
.dash-styles > div.dash-selected {
  border-bottom: 3px solid rgba(0,0,200,.5);
}

.applied-to {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.applied-to div {
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  box-sizing: border-box;
  font-size: 12px;
  padding: 0 4px;
}
.applied-to div.selected {
  border-bottom: 3px solid rgba(0,0,200,.5);
}

.atr_input_width {
    width: 150px !important;
}

.atr_input_width_for_period {
    width: 150px !important;
}

.atr_level_input_width_for_level {
  width: 150px !important;
}

.atr label {
    display: block;
}

#atr_levels_wrapper {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 5px;
}

.atr-ui-dialog, .atr.ui-dialog-content, .atr_level.ui-dialog-content {
    overflow: auto;
}

#atr_level_delete {
    white-space: nowrap;
}
