.atr_input_width {
    width: 150px !important;
}

.atr_input_width_for_period {
    width: 150px !important;
}

.atr_level_input_width_for_level {
  width: 150px !important;
}

.atr label {
    display: block;
}

#atr_levels_wrapper {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 5px;
}

.atr-ui-dialog, .atr.ui-dialog-content, .atr_level.ui-dialog-content {
    overflow: auto;
}
