.atr_input_width {
    width: 120px;
}

.atr_input_width_for_period {
    width: 115px;
}

.atr_level_input_width_for_level {
  width: 115px;
}

.atr label {
    display: block;
}

#atr_levels_wrapper {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 5px;
}

.ui-dialog , .ui-dialog .ui-dialog-content {
     overflow : visible;
}