/* Created by Armin on 10/17/2015 */

/* Binary standard colors
   menu normal: #273051;
   menu hover: #3F476E;
*/

#nav-container .logo {
    position: absolute;
    margin-top: 6px;
    width: 40px;
    left: 10px;
}

#nav-container {
    background-color: #273051;
    height: 53px;
    text-align: center;
}

#nav-menu {
    margin: 0 0 0 60px;
    padding: 0;
    list-style: none outside none;
    display: inline-table;
    background-color: #273051;
}

#nav-menu li {
    float: left;
    position: relative;
}

#nav-menu li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 16px 30px;
    font-size: 16px;
    white-space: nowrap;
    text-align: left;
}

#nav-menu li a:hover {
    background-color: #3F476E;
}

#nav-menu li ul {
    position: absolute;
    display: none;
    z-index: 999999;
}

#nav-menu li ul li ul {
    position: absolute;
    left: 100%;
    top: 0;
}

#nav-menu li > ul li {
    float: none;
    /*background-color: #273051;*/
    background-color: #3F476E;
}

#nav-menu li > ul li a {
    font-size: 14px;
    padding: 10px 30px;
}

#nav-menu li > ul li a:hover {
    background-color: #273051;
}

#nav-menu li:hover > ul {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#nav-menu li:hover {
    background-color: #3F476E;
}

#nav-menu li > ul li:hover {
    background-color: #273051;
}

.nav-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.nav-submenu-caret {
    position: absolute;
    right: 15px;
    top: 10px;
    display: inline-block;
    color: white;
}

.nav-submenu-caret:after {
    content: '»';
}

@media screen and (max-width: 824px) {
    #nav-menu {
        display: block;
    }

    #nav-menu li a {
        padding: 16px;
    }

    #nav-menu li > ul li a {
        padding: 10px 30px;
    }
}