/* Created by Armin on 10/17/2015 */

body {
  min-width: 1000px !important;
}

#topbar {
    width: 100%;
    line-height: 1;
    font-size: 100%;
    text-align: right;
    padding: 3px 0;
    height: 23px;
}

#topbar span.time {
    color: white;
    float: right;
    padding-right: 35px;
    padding-top: 5px;
    font-size: 12px;
}
#topbar span.contact-us {
    color: white;
    float: right;
    padding-right: 25px;
    padding-top: 5px;
    font-weight: 900;
    font-size: 12px;
}

#topbar #select_language {
  top:-3px;
  z-index: 999999;/*should be at the top of other dialogs*/
}
.top-nav-menu {
  margin-left: 10%;
}
.top-nav-menu li ul {
  z-index: 999999;
}

.top-nav-menu li a {
  color: #fff;
}

.top-nav-menu li a span.ui-icon {
  display: inline-block;
  right: 20px;
  top: 3px;
}

.top-nav-menu li ul.visible,  #topbar #select_language.visible, #all-accounts-top.visible{
  display: block;
  visibility: visible;
  opacity: 1;
}

#header .logo-wrapper div:nth-child(1) {
    margin: 10px 10px;
}

#header .logo-wrapper div:nth-child(2) {
    display: inline-block;
    margin: -12px;
}

.top-nav-menu li ul {
  display: none;
}

.top-nav-menu li a {
  font-size: 18px;
}
.top-nav-menu li > ul li a{
  font-size: 1rem;
}
.login button {
  margin: 15px 0;
}

#all-accounts-top {
  margin-top:3px;
}

.main-nav .nav-caret {
  position: absolute;
  top: 30px;
  right: 15px;
}
