/* Created by Armin on 10/17/2015 */

/* Binary standard colors
   menu normal: #273051;
   menu hover: #3F476E;
   menu active: #222A47;
*/

body {
  min-width: 680px !important;
}

#nav-container {
    position: relative;
    background-color: #273051;
    height: 54px;
    text-align: center;
    display: block;
}

#nav-container span.ui-icon {
  display: inline-block;
  padding-right: 10px;
  margin-left: -25px;
  position: relative;
  top: 2px;
}

#nav-container .nav-logo {
    position: absolute;
    margin-top: 6px;
    left: 10px;
}
#nav-container .nav-logo img {
    width: 40px;
}

/** normal menu (desktop/tablet) **/
.nav-normal-menu {
    margin: 0 220px 0 60px;
    padding: 0;
    list-style: none outside none;
    display: inline-table;
    background-color: #273051;
}

.nav-normal-menu li {
    float: left;
    position: relative;
}

.nav-normal-menu li:hover {
    /* nothing should exceed this max value.
       navigation menu should be on top of everything.
    */
    z-index: 999999;
}

.nav-normal-menu li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 16px 20px;
    transition: padding .5s;
    font-size: 16px;
    white-space: nowrap;
    text-align: left;
    outline: none;
}

.nav-normal-menu li a:hover {
    background-color: #3F476E;
}

.nav-normal-menu li a.disabled,
.nav-normal-menu li a.disabled:hover {
  opacity: 0.5;
  background-color: #273051;
}

.nav-normal-menu li > ul {
    position: absolute;
    display: none;
    /* nothing should exceed this max value.
       navigation menu should be on top of everything.
    */
    z-index: 999999;
    list-style: none outside none;
    min-width: 100%;
}

.nav-normal-menu li ul li ul {
    position: absolute;
    left: 100%;
    top: 0;
}

.nav-normal-menu li > ul li {
    float: none;
    background-color: #3F476E;
}

.nav-normal-menu li > ul li a {
    font-size: 14px;
    padding: 10px 30px;
}

.nav-normal-menu li > ul li a:hover {
    background-color: #273051;
}

.nav-normal-menu li > ul.nav-closed {
    display: none;
}

.nav-normal-menu li:hover > ul {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.nav-normal-menu li > ul.nav-closed {
    display: none;
}

.nav-normal-menu li:hover {
    background-color: #3F476E;
}

.nav-normal-menu li > ul li:hover {
    background-color: #273051;
}

/** responsive menu (mobile/handheld) **/
#mobile-nav {
    position: absolute;
    left: -280px;
    top: 53px;
    width: 280px;
    min-height: 100%;
    background-color: #273051;
    /* nothing should exceed this max value.
       navigation menu should be on top of everything.
    */
    z-index: 999999;
}

.nav-mobile-menu {
    display: block;
}

.nav-mobile-menu {
    margin: 0;
    padding: 0;
    list-style: none outside none;
    display: block;
    /*background-color: #273051;*/
}

.nav-mobile-menu li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 16px 30px;
    font-size: 16px;
    white-space: nowrap;
    text-align: left;
    outline: none;
}

.nav-mobile-menu li a:hover {
    background-color: #3F476E;
}

.nav-mobile-menu li a.disabled,
.nav-mobile-menu li a.disabled:hover {
  opacity: 0.5;
  background-color: #273051;
}

.nav-mobile-menu li > ul {
    display: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.nav-mobile-menu li ul li a {
    font-size: 14px;
    padding: 10px 45px;
    background-color: #3F476E;
}

.nav-mobile-menu li ul li ul li a {
    padding: 10px 60px;
}

.nav-mobile-menu li ul li ul li ul li a {
    padding: 10px 75px;
}

.nav-mobile-menu li > ul li a:hover {
    /*background-color: #273051;*/
    background-color: #222A47;
}

.nav-mobile-menu .nav-toggle-active {
    background-color: #222A47;
}

/** carets **/
.nav-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.nav-submenu-caret {
    position: absolute;
    right: 15px;
    top: 10px;
    display: inline-block;
    color: white;
}

.nav-submenu-caret:after {
    content: '»';
}

.nav-mobile-menu .nav-submenu-caret {
    top: inherit;
}

/** menu toggle **/
#nav-toggle {
    display: none;
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 12px 0;
    right: 10px;
    top: 12px;
    outline: none;
}

#nav-toggle:active {
    background-color: transparent;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: relative;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -5px;
}

#nav-toggle.nav-toggle-active span {
  background-color: transparent;
}

#nav-toggle.nav-toggle-active span:before, #nav-toggle.nav-toggle-active span:after {
  top: 0;
}

#nav-toggle.nav-toggle-active span:before {
  transform: rotate(45deg);
}

#nav-toggle.nav-toggle-active span:after {
  transform: rotate(-45deg);
  top: -5px;
}

/** mobile menu heading **/
#mobile-menu-heading {
    display: none;
    position: absolute;
    color: white;
    font-size: 24px;
    left: 60px;
    top: 12px;
    text-shadow: 0 0 3px #333;
}

/* login button */
#nav-container .login {
  position: absolute;
  top: 8px;
  right: 10px;
}

#nav-container .login span.ui-icon {
  margin-left: -10px;
}

#nav-container .login button {
  color: #eee;
  line-height: 2em;
  font-size: larger;
  width:90px;
  border: none;
  border-radius: 5px;
  outline: 0;
}

#nav-container .login button[disabled] { opacity: 0.5;}
#nav-container .login button { background: #2e8836; }
/*#nav-container .login button.logout { background: #4F577E; }*/

/* account menu */
#nav-container .account {
  position: absolute;
  right: 0px;
  width: 200px;
}
#nav-container .account > a {
  cursor: default;
  padding-left: 15px;
  font-size: 15px;
}
#nav-container .account > ul > li > a { padding-left: 15px; }
#nav-container .account > ul > li > a > span.ui-icon {
  margin-left: 0;
}
#nav-container .account .nav-dropdown-toggle {
  position: relative;
  top: -10px;
}

#nav-container .account .nav-dropdown-toggle .nav-caret {
  position: absolute;
  top: 35px;
  right: 10px;
}

#nav-container .account .logout,
#nav-container .account .info {
  border-top: 2px solid #aaa;
}

#nav-container .account *[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

#nav-container li.time-li {
  position: absolute;
  right: 205px;
  cursor: default; background: #273051;
  line-height: 50px;
}
#nav-container span.time { font-size: 10px; }
#nav-container li.time-li > a {
  cursor: default; background: #273051;
  padding: 0;
}

/** targets min-width requirement **/
@media screen and (max-width: 900px) {
    .nav-normal-menu {
        display: inline-table;
    }

    .nav-normal-menu li a {
        padding: 16px 6px;
        font-size: 14px;
    }

    .nav-normal-menu li > ul li a {
        padding: 10px 30px;
    }
}
@media screen and (max-width: 780px) {
  #nav-container { text-align: left; }
}

/** TODO: implement browser not supported for mobile devices **/
/*@media screen and (max-width: 800px) {
    .nav-normal-menu { display: none; }
    #mobile-menu-heading { display: block; }
    #nav-toggle { display: block; }
    #nav-container .authentication { right: 60px; }
}*/
