/* Created by Armin on 10/17/2015 */

body {
  min-width: 1000px;
}

#topbar {
   width: 100%;
   line-height: 1;
   font-size: 100%;
   text-align: right;
   padding: 3px 0;
   height: 23px;
   min-width: 1000px;
   span.time {
      color: white;
      float: right;
      padding-right: 35px;
      padding-top: 5px;
      font-size: 12px;
   }
   span.contact-us {
      color: white;
      float: right;
      padding-right: 25px;
      padding-top: 5px;
      font-weight: 900;
      font-size: 12px;
   }

   #select_language {
      top:-3px;
      z-index: 999999;/*should be at the top of other dialogs*/
   }
}

#nav-menu {
  min-width: 1000px;
  .trade, .instruments, .resources, .workspace {
      > ul {
         border: none;
         visibility: hidden;
         z-index: 999999;
         opacity: 0;
         transition: visibility 0.5s, opacity 0.1s linear 0.4s;
      }
      &:hover > ul {
         visibility: visible;
         opacity: 1;
         transition: visibility 0s 0.2s;
      }
   }
  .trade, .instruments, .resources {
      .ui-menu .ui-menu-item {
         list-style-image: none !important;
         .ui-menu-item-wrapper {
            padding: 7px 1em 7px .4em;
         }
      }
      .ui-widget.ui-widget-content {
         border: none !important;
      }
      li {
         min-width: 130px;
         font-size: 14px;
         background: #2A3052;
         color: white;
         a {
            &:hover { opacity: 1; }
            color: white;
            font-size: 14px;
            padding-left: 30px !important;
         }
      }
      .ui-icon { left: 6px; }
      .ui-icon-caret-1-e {
         background-image: url('../images/single-angle-pointing-to-right.svg') !important;
         background-size: 12px 12px !important;
         background-position: 2px 5px !important;
         margin: 0;
         top: calc(50% - 12px);
         right: 2px;
         left: auto;
      }
      .ui-state-active {
         margin: 0 !important;
         background: #fff;
         color: #2A3052;
         .ui-icon-caret-1-e {
            background-image: url('../images/single-angle-pointing-to-right-w.svg') !important;
         }
      }
  }
}

#nav-menu .container {
  text-align: center;
  display: flex;
}
.top-nav-menu {
  margin: 0 auto 0 auto;
}

#topbar #select_language.visible, #all-accounts-top.visible{
  display: block;
  visibility: visible;
  opacity: 1;
}

.top-nav-menu > li > a { font-size: 18px; color: white; }

.login button {
  margin: 15px 0;
}

#main-account {
  top: -2px;
} 

.main-nav .nav-caret {
  position: absolute;
  top: 30px;
  right: 15px;
}

.logo-wrapper {
  float: left;
  margin-left: 5px;
}
