/*Overriding this class inheritted from dataTables jquery plugin*/
.dataTables_scrollHeadInner, .sorting_asc , .dataTable , .dataTables_filter {
    width: 100% !important;
}

.dataTables_filter label {
    position: relative;
    float: left;
}
