body {
    height: 100%;
}
#topbar {
    height: 29px;
    display: block;
    width: 100%;
}
.fr {
    margin: auto;
    width: 90%;
    .languages {
        display: inline-block;
    }
    a, ul {
        margin-left: 10px;
    }
    ul#select_language li a {
        color: black;
        font-weight: normal;
    }
}
.ln29 {
    line-height: 29px;
}
.logo-parent {
    width: 300px;
}
.binary-logo-text {
    width: 150px;
}
#header #container {
    width: 90%;
    margin: auto;
}
#content {
    width: 90%;
    margin: auto;
    margin-bottom: 35px;
}
#content .container {
    display: flex;
    align-items: center;
}
#content .container .text {
    width: 65%;
    margin: 10px 10px;
}
#content .container .img {
    width: 35%;
    margin: 40px 0 10px 10px;
}

.footer {
    padding: 20px 20px;
    color: #a8a8a8;
    font-size: 13px;
    font-weight: 100;
    flex-wrap: wrap;

    a {
        color: #FFF;
        font-weight: 400;
    }

    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 40px;
    }

    &__image-container {
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 609px)  {
            justify-content: center;
        }
    }

    &__regulatory-icons {
        display: flex;

        .gamstop-lga-container {
            height: 100%;
            min-width: 100px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        .iom_icon {
            max-width: 90px;
            min-width: 76px;
            margin-right: 20px;
        }
        .lga_icon {
            align-self: flex-start;
            max-width: 70px;
            width: 100%;
        }
        .gamstop_icon {
            max-width: 120px;
            width: 100%;
        }
    }

    &__social-icons {
        margin-left: auto;
        display: flex;
        align-items: center;

        > *:not(:first-child) {
            margin-left: 10px;
        }

        img {
            height: 35px;
            width: 35px;
        }

        @media screen and (max-width: 609px)  {
            margin: 20px 0;
            justify-content: center;
        }
    }

    &__text-container {
        text-decoration: none;
        text-align: justify;

        .u-margin-bottom-small {
            margin-bottom: 7px
        }
        .risk-warning {
            margin-top: 7px;
            font-size: 16px;
        }
        .about-binary {
            border-top: 1px solid #44484c;
            border-bottom: 1px solid #44484c;
        }
    }
}
