body {
    height: 100%;
}
#topbar {
    height: 29px;
    display: block;
    width: 100%;
}
.fr {
    margin: auto;
    width: 90%;
    .languages {
        display: inline-block;
    }
    a, ul {
        margin-left: 10px;
    }
    ul#select_language li a {
        color: black;
        font-weight: normal;
    }
}
.ln29 {
    line-height: 29px;
}
.logo-parent {
    width: 300px;
}
.binary-logo-text {
    width: 150px;
}
#header #container {
    width: 90%;
    margin: auto;
}
#footer-content {
    line-height: 1.2em;
    text-align: justify;
    font-size: 10px;
    width: 90%;
    margin: auto;
    display: flex;
}
#regulatory-text {
    margin: 10px 0 10px;
    width: 100%;
}
#regulatory-image {
    display: flex;
}
#regulatory-image div:first-child img {
    width: 80px;
}
#regulatory-image div:last-child img {
    width: 100px;
    margin: 10px 0;
}
#images {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    max-width: 20%;
    margin: 10px 10px 10px 25px;
}
.social-icons {
    display: flex;
    width: 100%;
}

.social-icons .social-network-icon {
    max-width: 30px;;
}
.social-icons a {
    padding: 4px;
    min-width: 30px;
}
#footer a {
    display: inline-block;
    text-decoration: underline;
}
#footer-last .container {
    width: 90%;
    font-size: 12px;
    text-align: justify;
    margin: auto;
    padding: 5px;
}
#content {
    width: 90%;
    margin: auto;
    margin-bottom: 35px;
}
#content .container {
    display: flex;
    align-items: center;
}
#content .container .text {
    width: 65%;
    margin: 10px 10px;
}
#content .container .img {
    width: 35%;
    margin: 40px 0 10px 10px;
}
#doorbell-button  {
    right: -67px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    font-size: inherit;
    background-color: #2E8836;
    bottom: 100px;
    z-index: +1000;
    &:hover {
        right: -40px;
        transition: right 100ms linear;
    }
}
