body {
    height: 100%;
}
#topbar {
    height: 29px;
    display: block;
    width: 100%;
}
.fr {
    margin: auto;
    width: 90%;
    .languages {
        display: inline-block;
    }
    a, ul {
        margin-left: 10px;
    }
    ul#select_language li a {
        color: black;
        font-weight: normal;
    }
}
.ln29 {
    line-height: 29px;
}
.logo-parent {
    width: 300px;
}
.binary-logo-text {
    width: 150px;
}
#header #container {
    width: 90%;
    margin: auto;
}
#regulatory-text {
    margin: 10px 0 10px;
    width: 100%;
}
#footer a {
    display: inline-block;
    text-decoration: underline;
}
#content {
    width: 90%;
    margin: auto;
    margin-bottom: 35px;
}
#content .container {
    display: flex;
    align-items: center;
}
#content .container .text {
    width: 65%;
    margin: 10px 10px;
}
#content .container .img {
    width: 35%;
    margin: 40px 0 10px 10px;
}

.footer {
    padding-top: 20px;
    color: #a8a8a8;

    &__image-container {
        display: flex;
        padding: 0 10px;
    }

    &__regulatory-icons {
        display: flex;

        .lga_icon {
            max-width: 70px;
        }
        .gamstop_icon {
            max-width: 120px;
        }
        .iom_icon {
            max-width: 90px;
        }
    }

    &__social-icons {
        margin-left: auto;
        display: flex;

        > *:not(:first-child) {
            margin-left: 10px;
        }

        img {
            height: 35px;
            width: 35px;
        }
    }
}
