@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    font-size: 80%;
}

.topContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.topContainer ul {
    display: none;
    position: absolute;
}

.topContainer li {
    text-align: left;
    white-space: nowrap;
    display: block;
}

/*Applying ui-state-active and ui-state-hover does not work for this element*/
.mainMenuHamburgerMenu:hover {
    border      : 1px solid #AAA;
    background  : url("//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50% #FFF;
    font-weight : normal;
    color       : #212121;
}

button.ui-button-text-only .ui-menu-item {
  background-color: #3F476E; 
  color: #FFFFFF;
  border-color: #3F476E;
}

button.ui-button-text-only .ui-menu-item .ui-state-focus, button.ui-button-text-only .ui-menu-item .ui-state-active, button.ui-button-text-only .ui-widget-content .ui-state-active, button.ui-button-text-only .ui-widget-content .ui-state-focus {
  background: #273051!important;
  color: #FFFFFF!important;
  border-color: #3F476E;
}

.ui-dialog {
  padding: 0!important;
}

.ui-dialog-content {
  background-color: #F5F6F8!important;
}

.ui-corner-all {
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
  border-top-right-radius: 0!important;
  border-top-left-radius: 0!important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 0px solid #273051;
  background: #273051!important;
  font-weight: normal;
  color: #FFFFFF;
}

.ui-widget-header {
  border: 1px solid #273051;
  background: #273051!important;
  color: #FFFFFF;
  font-family: 'Roboto'!important;
  font-weight: normal!important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: 'Roboto'!important;
}

.ui-widget {
  outline: 0;
}

.ui-button {
  margin-top: 5px;
}

.ui-button-text-only.ui-state-hover, .ui-button-text-only.ui-button:hover, .ui-button-text-only.ui-state-focus{
  color: #FFFFFF!important;
  background: #3F476E!important;
}

.logo {
  width: 40px;
  float: left;
  padding-left: 10px;
  margin-top: 10px;
}

.gtm_data_layer {
  display : none;
}

.topMenu {
  width : 100%;
  text-align : center;
  background: #273051;
  height: 60px;
}

.topMenu div {
  display : inline;
  margin-left: -6px;
}

button.ui-button-text-only {
  margin-top: 15px;
  height: 60px;
  margin: 0;
  padding: 0;
}

button.ui-button-text-only .ui-menu {
  border-color: #3F476E;
}

.ui-menu {
  z-Index : 1003;
  margin-top: 15px;
}

/*Overriding this class inheritted from dataTables jquery plugin*/
.dataTables_scrollHeadInner, .sorting_asc , .dataTable , .dataTables_filter {
    width: 100% !important;
}

.dataTables_filter label {
    position: relative;
    float: left;
}

.mainContainer {
    width: 100%;
}
.sk-spinner-container {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    margin: auto auto;
    -webkit-user-select: none;
    display: block;
    margin: auto auto;
}

/*
 *  Usage:
 *
 *    <div class="sk-spinner sk-spinner-wave">
 *      <div class="sk-rect1"></div>
 *      <div class="sk-rect2"></div>
 *      <div class="sk-rect3"></div>
 *      <div class="sk-rect4"></div>
 *      <div class="sk-rect5"></div>
 *    </div>
 *
 */
.sk-spinner-wave.sk-spinner {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px; }
.sk-spinner-wave div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
          animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
.sk-spinner-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-spinner-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-spinner-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-spinner-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }
