body {
    font-size: 100%;
}

.topContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.topContainer ul {
    display: none;
    position: absolute;
}

.topContainer li {
    text-align: left;
    white-space: nowrap;
    display: block;
}

/*Applying ui-state-active and ui-state-hover does not work for this element*/
.mainMenuHamburgerMenu:hover {
    border      : 1px solid #AAA;
    background  : url("//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50% #FFF;
    font-weight : normal;
    color       : #212121;
}

.gtm_data_layer {
  display : none;
}

.topMenu {
  width : 100%;
  text-align : center;
}

.topMenu div {
  display : inline;
}

.ui-menu {
  z-Index : 1003;
}

.instruments-icon {
  background-image: url(images/charts.svg) !important;
  background-size: 100% 100%;
  top: 30% !important;
  width: 26px !important;
  height: 26px !important;
}

.windows-icon {
  background-image: url(images/windows.svg) !important;
  background-size: 100% 100%;
  top: 30% !important;
  width: 26px !important;
  height: 26px !important;
}

.workspace-icon {
  background-image: url(images/settings.svg) !important;
  background-size: 100% 100%;
  top: 30% !important;
  width: 26px !important;
  height: 26px !important;
}

.about-icon {
  background-image: url(images/about.svg) !important;
  background-size: 100% 100%;
  top: 30% !important;
  width: 26px !important;
  height: 26px !important;
}
