.topContainer {
    position: absolute;
    z-index: 1003;
    float: left;
}

.topContainer > img {
    position: relative;
    float: left;
}

.topContainer ul {
    display: none;
    position: absolute;
    top: 26px;
}

.topContainer li {
    text-align: left;
    white-space: nowrap;
    display: block;
}
