@font-face {
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-family: 'Roboto';
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 80%;
    position:relative;
}
.mainContainer {
    width: 100%;
}

body > .footer {
    transition: height .2s linear;
    top:0;
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: center;
}
body > .footer .addiction-warning {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    background: #2a3052;
}
body > .footer .addiction-warning span {
  color: white;
  text-align: left;
  display: inline-block;
  max-width: 900px;
}
body > .footer .addiction-warning a,
body > .footer .addiction-warning a:visited,
body > .footer .addiction-warning a:hover {
  color: white;
  text-decoration: underline;
}


body * {
    font-family: 'Roboto', sans-serif;
}

.ui-icon {
    background-image: url("images/ui-icons_ffffff_256x240.png")!important;
}

.ui-dialog {
    padding: 0!important;
}

.ui-dialog-content {
    background-color: #F5F6F8!important;
}

.ui-corner-all {
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
}

.ui-priority-secondary {
    opacity: 1!important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 0px solid #273051;
    background: #273051;
    font-weight: normal;
    color: #FFFFFF;
}

.ui-widget-header {
    border: 1px solid #273051;
    background: #273051!important;
    color: #FFFFFF;
    font-family: 'Roboto'!important;
    font-weight: normal!important;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: 'Roboto'!important;
}

.ui-widget {
    outline: 0;
}

.ui-button {
    margin-top: 5px;
}

.ui-button-text-only.ui-state-hover,
.ui-button-text-only.ui-button:hover {
    color: #FFFFFF!important;
    background: #3F476E!important;
}

.ui-dialog .ui-dialog-content {
    padding: .5em .5em;
    padding-bottom: 0;
}

.gtm_data_layer {
    display: none;
}

button.ui-button-text-only {
    margin-top: 15px;
    /*height: 46px;*/
    margin: 0;
    padding: 0;
}

button.ui-button-text-only .ui-menu {
    border-color: #3F476E;
}

.ui-menu {
    z-Index: 1003;
}

/*Overriding this class inheritted from dataTables jquery plugin*/

.dataTables_scrollHeadInner,
/*.sorting_asc,*/
.dataTable,
.dataTables_filter {
    width: 100% !important;
}

.dataTables_filter label {
    position: relative;
    float: left;
}

/* SK SPINNER STYLES
 *  Usage:
 *
 *    <div class="sk-spinner sk-spinner-wave">
 *      <div class="sk-rect1"></div>
 *      <div class="sk-rect2"></div>
 *      <div class="sk-rect3"></div>
 *      <div class="sk-rect4"></div>
 *      <div class="sk-rect5"></div>
 *    </div>
 *
 */

.sk-spinner-container {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    margin: auto auto;
    -webkit-user-select: none;
    display: block;
    margin: auto auto;
}

.sk-spinner-wave.sk-spinner {
    margin: 0 auto;
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.sk-spinner-wave div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin-right: 3px;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-spinner-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-spinner-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-spinner-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-spinner-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-waveStretchDelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

.red { color: #d71818; }
.green { color: #02920e; }
.bold { font-weight: bold }

/* Remove IE10+ "clear field" X button on certain inputs
   This does not trigger a JQ changed event, and no other browser has such X button */
input::-ms-clear {
    display: none;
}

/* CSS3 shine effects for buttons */
.shine {
  position: relative;
}
/* sine effect, hover style if required */
.shine:hover { }
/* generated element for shine effect. normal state is semi-transparent
 * white but with zero width. Set no transition here for no mouse-leave
 * animations. Otherwise the effect will play in reverse when your mouse
 * leaves the element */
.shine:not([disabled=disabled]):after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    transition: none;
}
/* on hover we animate the width to 100% and opacity to 0 so the element
 * grows and fades out */
.shine:not([disabled=disabled]):hover:after {
    width: 120%;
    background-color: rgba(255,255,255,0);
    transition: all 1s ease-out;
}

#growls.default {
  top: 45px !important; /* show growl notifictions below the navigation-bar */
}
