.dx_input_width {
    width: 120px;
}

.dx_input_width_for_period {
    width: 115px;
}

.dx_level_input_width_for_level {
  width: 115px;
}

.dx label {
    display: block;
}

#dx_levels_wrapper {
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 5px;
}

.dx-ui-dialog, .dx.ui-dialog-content, .dx_level.ui-dialog-content {
    overflow: visible;
}