.trading-times-sub-header{
    margin-top:-.3em;
    height: 2em;
}
.trading-times-sub-header .ui-selectmenu-button {
    margin-right: .2em;
    width: 148px !important;
}
.trading-times-sub-header .subheader-message {
    float:right;
    margin-top: .5em;
    font-weight:bold;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.25);
    font-size: 90%;
}

.hide-search-input .dataTables_filter {
    display:none;
}
table.compact th,td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
    table.compact th > .search-input {
        text-align:center;
        width: 100%; 
        box-sizing: border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing: border-box;
        border-radius:10px;
    }

    table.compact th > .search-input:focus {
        box-shadow: 3px -1px 8px 1pt lightblue;
        outline: 0;
    }
.search-input::-webkit-input-placeholder,
.search-input::-moz-placeholder,     /* firefox 19+ */
.search-input:-ms-input-placeholder /* ie */ {
    font-size: 90%;
}
