.trading-times-sub-header{
    margin-top:-.3em;
    height: 2em;
}
.trading-times-sub-header .ui-selectmenu-button {
    margin-right: .2em;
    width: 148px !important;
}
.trading-times-sub-header .subheader-message {
    float:right;
    margin-top: .5em;
    font-weight:bold;
    color: rgba(0,0,0,0.7);
    font-size: 90%;
}
.rtl-direction .trading-times-sub-header .subheader-message {
  float: left;
  direction: ltr;
}

table.trading-times-dialog th,
table.trading-times-dialog td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
    table.trading-times-dialog th > .search-input {
        text-align:center;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing: border-box;
        border-radius:10px;
    }

    table.trading-times-dialog th > .search-input:focus {
        box-shadow: 3px -1px 8px 1pt lightblue;
        outline: 0;
    }
table.trading-times-dialog .search-input::-webkit-input-placeholder,
table.trading-times-dialog .search-input::-moz-placeholder,     /* firefox 19+ */
table.trading-times-dialog .search-input:-ms-input-placeholder /* ie */ {
    font-size: 90%;
}
